body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2f2f34;
  line-height: 24px; }

.main {
  min-height: 110vh; }

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff; }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px; }
    @media screen and (min-width: 1025px) {
      .header__row {
        margin-left: 72px;
        margin-right: 72px; } }
  .header__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__lines {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    margin-right: 22px; }
    @media screen and (min-width: 1025px) {
      .header__lines {
        display: none; } }
  .header__line {
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: #617e8c; }
  .header__logo {
    width: 139px;
    height: 28px;
    margin: 18.5px 0; }
  .header__select {
    display: none; }
    @media screen and (min-width: 1025px) {
      .header__select {
        display: block; } }
  .header__link {
    text-decoration: none; }
    .header__link_nav {
      display: none; }
      @media screen and (min-width: 1025px) {
        .header__link_nav {
          display: block; } }
    .header__link_login {
      display: flex;
      justify-content: space-between; }
  .header__authorization {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 576px) {
      .header__authorization {
        width: 186px; } }
  .header__icon {
    width: 20px;
    height: 20px; }
    .header__icon_search {
      margin-right: 32px; }
      @media screen and (min-width: 576px) {
        .header__icon_search {
          margin-right: 24px; } }
    .header__icon_login {
      margin-right: 0; }
      @media screen and (min-width: 576px) {
        .header__icon_login {
          margin-right: 24px; } }
  .header__login {
    display: none; }
    @media screen and (min-width: 576px) {
      .header__login {
        display: block; } }

.select {
  width: 100%; }
  .select_header {
    max-width: 132px; }
  .select__list-header {
    width: 100%; }
  .select__item-header {
    width: 100%; }

.top-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .top-block {
      height: 443px; } }
  @media screen and (min-width: 1299px) {
    .top-block {
      height: 562px; } }
  @media screen and (min-width: 1440px) {
    .top-block {
      height: 625px; } }
  .top-block__heading {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    line-height: 36px;
    color: white;
    margin-bottom: 24px;
    padding-left: 24px; }
    @media screen and (min-width: 576px) {
      .top-block__heading {
        font-size: 34px;
        line-height: 48px; } }
    @media screen and (min-width: 767px) {
      .top-block__heading {
        padding-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__heading {
        padding-left: 275px; } }
    .top-block__heading_span {
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      display: block; }
  .top-block__buttons {
    width: 100%;
    max-width: 200px;
    margin-bottom: 36px;
    margin-left: 24px; }
    @media screen and (min-width: 767px) {
      .top-block__buttons {
        margin-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__buttons {
        margin-left: 275px; } }

.about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .about {
      padding: 56px 72px 40px; } }
  .about__heading {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    margin: 16px; }
    @media screen and (min-width: 767px) {
      .about__heading {
        font-size: 24px;
        line-height: 48px;
        margin-bottom: 24px; } }
  .about__desciption {
    font-size: 14px;
    line-height: 24px;
    margin: 16px; }
    @media screen and (min-width: 767px) {
      .about__desciption {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px; } }
  .about__images {
    position: relative;
    margin-bottom: 36px; }
  .about__picture {
    width: 100%;
    aspect-ratio: 640 / 424; }
    @media screen and (min-width: 576px) {
      .about__picture {
        width: calc((100% + 72px) / 2); } }
    .about__picture_primary {
      margin-top: 12px;
      margin-bottom: 24px; }
      @media screen and (min-width: 576px) {
        .about__picture_primary {
          margin-top: 56px;
          margin-bottom: 0px;
          position: relative;
          bottom: 0;
          left: 0; } }
    @media screen and (min-width: 576px) {
      .about__picture_secondary {
        position: absolute;
        top: 0;
        right: 0; } }

.progress {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #f2f7fb;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .progress {
      padding: 72px; } }
  .progress__range {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .progress__range {
        overflow-x: hidden; } }
  .progress__block {
    width: 100%;
    height: 200px;
    min-width: 196px;
    max-width: 196px;
    margin: 0 12px;
    position: relative; }
  .progress__image {
    width: 140px;
    height: 140px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    left: 30px; }
    @media screen and (min-width: 1440px) {
      .progress__image {
        width: 148px;
        height: 148px; } }
  .progress__picture {
    width: 68px;
    height: 68px;
    position: relative;
    top: 0px;
    left: 63px; }
    @media screen and (min-width: 1440px) {
      .progress__picture {
        width: 72px;
        height: 72px; } }
  .progress__description {
    min-width: 200px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    bottom: -21px;
    left: 0px; }
    @media screen and (min-width: 1024px) {
      .progress__description {
        font-size: 16px; } }
    @media screen and (min-width: 1440px) {
      .progress__description {
        font-size: 18px; } }

.stories {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .stories {
      padding: 56px 0px 60px; } }
  .stories__heading {
    font-size: 18px;
    line-height: 24px; }
    @media screen and (min-width: 1024px) {
      .stories__heading {
        font-size: 24px;
        line-height: 48px;
        padding-left: 72px; } }
  .stories__offer {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 64px; }
    @media screen and (min-width: 1024px) {
      .stories__offer {
        font-size: 16px;
        line-height: 24px;
        padding-left: 72px;
        margin-bottom: 64px; } }
  .stories__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: blue; }
    @media screen and (min-width: 1024px) {
      .stories__link {
        font-size: 16px;
        line-height: 24px; } }
  .stories__range {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .stories__block {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 12px; }
    @media screen and (min-width: 600px) {
      .stories__block {
        margin: 0 auto;
        min-width: 600px; } }
  .stories__wrapper {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .stories__wrapper {
        width: 480px; } }
  .stories__image {
    aspect-ratio: 480 / 320;
    background-position: center center;
    background-size: cover;
    margin-bottom: 48px; }
    @media screen and (min-width: 600px) {
      .stories__image {
        aspect-ratio: none;
        width: 480px;
        height: 320px;
        margin-bottom: 48px; } }
    .stories__image:hover, .stories__image:active {
      transform: none; }
      @media screen and (min-width: 600px) {
        .stories__image:hover, .stories__image:active {
          transform: scale(1.25); } }
  .stories__subheading {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 1024px) {
      .stories__subheading {
        font-size: 18px;
        line-height: 24px; } }
  .stories__description {
    font-size: 14px;
    line-height: 18px; }
    @media screen and (min-width: 1024px) {
      .stories__description {
        font-size: 14px;
        line-height: 18px; } }

.location {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px 16px;
  background: #f2f7fb;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .location {
      padding: 40px 72px 56px; } }
  .location__heading {
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center; }
  .location__container {
    display: flex;
    justify-content: space-between; }
  .location__list {
    width: 272px; }
    @media screen and (min-width: 375px) {
      .location__list {
        width: 327px; } }
  .location__sector-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; }
    @media screen and (min-width: 576px) {
      .location__sector-select {
        max-width: 80%; } }
  .location__address {
    width: 100%;
    margin-bottom: 16px;
    position: relative; }
    .location__address::before {
      content: url(../../assets/icons/southernMain/mapsFlags.svg);
      position: relative;
      top: 4px;
      left: -1px; }
  .location__map-container {
    width: calc(100% - 327px);
    height: 624px;
    background-position: center center;
    background-size: cover;
    display: none; }
    @media screen and (min-width: 576px) {
      .location__map-container {
        display: block; } }
  .location__map-title {
    color: #2f2f34;
    margin-bottom: 16px; }
  .location__map-block {
    width: 100%;
    overflow-x: scroll; }
    @media screen and (min-width: 1440px) {
      .location__map-block {
        overflow-x: hidden; } }
  .location__map {
    width: 969px;
    height: 624px;
    background-position: center center;
    background-size: cover; }

.select {
  width: 100%; }
  .select_city {
    max-width: 69px; }
    @media screen and (min-width: 576px) {
      .select_city {
        max-width: 40%; } }
  .select_area {
    max-width: 75px; }
    @media screen and (min-width: 576px) {
      .select_area {
        max-width: 40%; } }
  .select__list {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #28323c; }
    @media screen and (min-width: 576px) {
      .select__list {
        font-size: 13px; } }
  .select__hidden {
    line-height: 0px; }
  .select__item {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #28323c; }
    @media screen and (min-width: 576px) {
      .select__item {
        font-size: 13px; } }

.secondary-radio {
  width: 100%;
  max-width: 132px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 576px) {
    .secondary-radio {
      display: none; } }
  .secondary-radio__item {
    width: 50%;
    cursor: pointer;
    padding: 7px 12px;
    box-sizing: border-box; }
    .secondary-radio__item_left {
      background-color: #15499f;
      border: 1px solid #15499f;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px; }
    .secondary-radio__item_right {
      background-color: white;
      border: 1px solid black;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }
    .secondary-radio__item:hover {
      transform: scale(1.05);
      transition: 0.2s linear; }
    .secondary-radio__item:active {
      border: 2px; }
  .secondary-radio__field {
    display: none; }
  .secondary-radio__title {
    font-weight: normal; }
    .secondary-radio__title_left {
      color: white; }

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 0;
  background: #fafafa;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 40px 72px 16px; } }
  .footer__body {
    width: 100%;
    flex: none; }
    @media screen and (min-width: 1024px) {
      .footer__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; } }
  .footer__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0px; }
    @media screen and (min-width: 1024px) {
      .footer__column {
        margin-bottom: 80px; } }
    .footer__column:nth-child(1) {
      min-width: 200px; }
    .footer__column:nth-child(2) {
      min-width: 200px; }
    .footer__column:nth-child(3) {
      min-width: 270px; }
    .footer__column:nth-child(4) {
      min-width: 135px;
      margin-bottom: 32px; }
      @media screen and (min-width: 1299px) {
        .footer__column:nth-child(4) {
          min-width: 200px; } }
    .footer__column:nth-child(5) {
      width: 100%;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (min-width: 576px) {
        .footer__column:nth-child(5) {
          justify-content: flex-start; } }
      @media screen and (min-width: 1299px) {
        .footer__column:nth-child(5) {
          min-width: 208px;
          max-width: 232px;
          flex-direction: column; } }
      .footer__column:nth-child(5) a.footer__link_main {
        display: none; }
        @media screen and (min-width: 1299px) {
          .footer__column:nth-child(5) a.footer__link_main {
            display: block; } }
  .footer__link {
    text-decoration: none;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 24px;
    color: #2f2f34;
    margin-bottom: 16px; }
    .footer__link_main {
      font-weight: bold;
      font-size: 14px; }
      @media screen and (min-width: 1024px) {
        .footer__link_main {
          font-size: 18px; } }
    .footer__link_minor {
      font-size: 14px; }
      @media screen and (min-width: 1024px) {
        .footer__link_minor {
          font-size: 16px; } }
    .footer__link_hidden {
      display: none; }
      @media screen and (min-width: 1024px) {
        .footer__link_hidden {
          font-size: 16px;
          line-height: 24px;
          display: block; } }
    .footer__link_main-hidden {
      display: none; }
      @media screen and (min-width: 1024px) {
        .footer__link_main-hidden {
          display: block;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px; } }
    .footer__link_main-visible {
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px; }
      @media screen and (min-width: 1024px) {
        .footer__link_main-visible {
          display: none; } }
    .footer__link_low {
      color: #acadb1;
      font-size: 11px; }
      @media screen and (min-width: 1024px) {
        .footer__link_low {
          font-size: 14px; } }
  .footer__visible {
    width: 155px;
    order: 2; }
    .footer__visible li:nth-child(1) a {
      margin-bottom: 0; }
      @media screen and (min-width: 1299px) {
        .footer__visible li:nth-child(1) a {
          margin-bottom: 16px; } }
    @media screen and (min-width: 576px) {
      .footer__visible {
        min-width: 232px; } }
    @media screen and (min-width: 1299px) {
      .footer__visible {
        min-width: 232px;
        order: 0; } }
  .footer__hidden {
    display: none; }
    @media screen and (min-width: 1299px) {
      .footer__hidden {
        display: block;
        order: 1; } }
  .footer__order {
    order: 1; }
    @media screen and (min-width: 1299px) {
      .footer__order {
        order: 3; } }
  .footer__social-groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96px;
    height: 24px; }
    @media screen and (min-width: 375px) {
      .footer__social-groups {
        justify-content: space-between;
        width: 147.5px; } }
    @media screen and (min-width: 576px) {
      .footer__social-groups {
        min-width: 222px;
        margin-right: 63px; } }
  .footer__icon {
    width: 12px;
    height: 12px; }
    @media screen and (min-width: 375px) {
      .footer__icon {
        width: 24px;
        height: 24px; } }
