body * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f34; }

.main {
  min-height: 110vh; }

.top-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .top-block {
      height: 443px; } }
  @media screen and (min-width: 1299px) {
    .top-block {
      height: 562px; } }
  @media screen and (min-width: 1440px) {
    .top-block {
      height: 625px; } }
  .top-block__heading {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 24px;
    padding-left: 24px; }
    @media screen and (min-width: 576px) {
      .top-block__heading {
        font-size: 34px;
        line-height: 48px; } }
    @media screen and (min-width: 767px) {
      .top-block__heading {
        padding-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__heading {
        padding-left: 275px; } }
    .top-block__heading_span {
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      display: block; }
  .top-block__button-container {
    width: 100%;
    max-width: 200px;
    margin-bottom: 36px;
    margin-left: 24px; }
    @media screen and (min-width: 767px) {
      .top-block__button-container {
        margin-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__button-container {
        margin-left: 275px; } }

.about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .about {
      padding: 56px 72px 40px; } }
  .about__heading {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    margin: 16px; }
    @media screen and (min-width: 767px) {
      .about__heading {
        font-size: 24px;
        line-height: 48px;
        margin-bottom: 24px; } }
  .about__desciption {
    font-size: 14px;
    margin: 16px; }
    @media screen and (min-width: 767px) {
      .about__desciption {
        font-size: 16px;
        margin-bottom: 24px; } }
  .about__images {
    position: relative;
    margin-bottom: 36px; }
  .about__picture {
    width: 100%;
    aspect-ratio: 640 / 424; }
    @media screen and (min-width: 576px) {
      .about__picture {
        width: calc((100% + 72px) / 2); } }
    .about__picture:first-child {
      margin-top: 12px;
      margin-bottom: 24px; }
      @media screen and (min-width: 576px) {
        .about__picture:first-child {
          margin-top: 56px;
          margin-bottom: 0px;
          position: relative;
          bottom: 0;
          left: 0; } }
    @media screen and (min-width: 576px) {
      .about__picture:last-child {
        position: absolute;
        top: 0;
        right: 0; } }

.progress {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #f2f7fb;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .progress {
      padding: 72px; } }
  .progress__range {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .progress__range {
        overflow-x: hidden; } }
  .progress__block {
    max-width: 196px;
    height: 200px;
    margin: 0 12px;
    position: relative; }
  .progress__image {
    width: 140px;
    height: 140px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    left: 30px; }
    @media screen and (min-width: 1440px) {
      .progress__image {
        width: 148px;
        height: 148px; } }
  .progress__picture {
    width: 68px;
    height: 68px;
    position: relative;
    top: 0px;
    left: 63px; }
    @media screen and (min-width: 1440px) {
      .progress__picture {
        width: 72px;
        height: 72px; } }
  .progress__description {
    min-width: 200px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    bottom: -21px;
    left: 0px; }
    @media screen and (min-width: 1440px) {
      .progress__description {
        font-size: 18px; } }

.stories {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px 24px 36px; }
  @media screen and (min-width: 1024px) {
    .stories {
      padding: 56px 0px 60px; } }
  .stories__heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 1024px) {
      .stories__heading {
        font-size: 24px;
        line-height: 48px;
        padding-left: 72px; } }
  .stories__offer {
    font-size: 14px;
    margin-bottom: 64px; }
    @media screen and (min-width: 1024px) {
      .stories__offer {
        font-size: 16px;
        padding-left: 72px;
        margin-bottom: 64px; } }
  .stories__link {
    text-decoration: none;
    font-size: 14px;
    color: blue; }
    @media screen and (min-width: 1024px) {
      .stories__link {
        font-size: 16px; } }
  .stories__range {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .stories__block {
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 12px; }
    @media screen and (min-width: 600px) {
      .stories__block {
        margin: 0 auto;
        min-width: 600px; } }
  .stories__wrapper {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .stories__wrapper {
        width: 480px; } }
  .stories__image {
    aspect-ratio: 480 / 320;
    background-position: center center;
    background-size: cover;
    margin-bottom: 48px; }
    @media screen and (min-width: 600px) {
      .stories__image {
        aspect-ratio: none;
        width: 480px;
        height: 320px;
        margin-bottom: 48px; } }
    .stories__image:hover, .stories__image:active {
      transform: none; }
      @media screen and (min-width: 600px) {
        .stories__image:hover, .stories__image:active {
          transform: scale(1.25); } }
  .stories__subheading {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media screen and (min-width: 1024px) {
      .stories__subheading {
        font-size: 18px;
        line-height: 24px; } }
  .stories__description {
    font-size: 14px;
    line-height: 18px; }
    @media screen and (min-width: 1024px) {
      .stories__description {
        font-size: 14px;
        line-height: 18px; } }
