body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c; }

.main {
  min-height: 110vh; }

.top-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .top-block {
      height: 443px; } }
  @media screen and (min-width: 1299px) {
    .top-block {
      height: 562px; } }
  @media screen and (min-width: 1440px) {
    .top-block {
      height: 625px; } }
  .top-block__heading {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 24px;
    padding-left: 24px; }
    @media screen and (min-width: 576px) {
      .top-block__heading {
        font-size: 34px;
        line-height: 48px; } }
    @media screen and (min-width: 767px) {
      .top-block__heading {
        padding-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__heading {
        padding-left: 275px; } }
    .top-block__heading_span {
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      display: block; }
      @media screen and (min-width: 767px) {
        .top-block__heading_span {
          display: inline; } }
  .top-block__button-container {
    width: 100%;
    max-width: 200px;
    margin-bottom: 36px;
    margin-left: 24px; }
    @media screen and (min-width: 767px) {
      .top-block__button-container {
        margin-left: 72px; } }
    @media screen and (min-width: 1299px) {
      .top-block__button-container {
        margin-left: 275px; } }

.spot {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 24px 0;
  display: none; }
  @media screen and (min-width: 767px) {
    .spot {
      display: block;
      padding: 40px 72px 40px; } }
  .spot__nav {
    display: none; }
    @media screen and (min-width: 767px) {
      .spot__nav {
        display: flex;
        justify-content: space-between;
        width: 300px; } }
  .spot__link {
    text-decoration: none;
    font-size: 14px; }
    .spot__link:nth-child(1), .spot__link:nth-child(2) {
      color: #15499f;
      margin-right: 12px; }
      .spot__link:nth-child(1)::after, .spot__link:nth-child(2)::after {
        content: url(../../assets/icons/polygon6Gray.svg);
        width: 4px;
        height: 8px;
        margin-left: 12px; }

.deposits {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px 48px;
  background: #fff;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .deposits {
      padding: 16px 72px 60px; } }
  .deposits__row {
    padding: 24px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start; }
    @media screen and (min-width: 576px) {
      .deposits__row {
        flex-direction: row;
        padding-right: 24px;
        border: 1px solid #e3e3e3; } }
  .deposits__image {
    width: 100%;
    aspect-ratio: 268 / 240;
    margin-right: 0px; }
    @media screen and (min-width: 316px) {
      .deposits__image {
        aspect-ratio: none;
        width: 268px;
        height: 240px; } }
    @media screen and (min-width: 576px) {
      .deposits__image {
        margin-right: 12px; } }
    @media screen and (min-width: 1024px) {
      .deposits__image {
        margin-right: 34px; } }
    @media screen and (min-width: 1299px) {
      .deposits__image {
        margin-right: 58px; } }
  .deposits__contribution {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .deposits__rate {
    font-size: 18px;
    margin-bottom: 12px; }
    @media screen and (min-width: 767px) {
      .deposits__rate {
        font-size: 24px;
        line-height: 36px; } }
  .deposits__clarification {
    font-size: 14px;
    margin-bottom: 12px; }
    @media screen and (min-width: 767px) {
      .deposits__clarification {
        font-size: 18px; } }
  .deposits__description {
    display: none; }
    @media screen and (min-width: 1024px) {
      .deposits__description {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
  .deposits__sector {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .deposits__title {
    font-size: 14px;
    color: #acadb1; }
  .deposits__item {
    font-size: 16px; }
  .deposits__link {
    text-decoration: none;
    color: #69a042;
    margin-bottom: 12px; }

.info {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px 48px;
  background: #fff; }
  @media screen and (min-width: 1024px) {
    .info {
      padding: 40px 72px 60px; } }
  .info__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .info__column {
    margin-bottom: 40px; }
  .info__wrapper {
    display: flex;
    border-top: 4px solid #2c658e; }
  .info__image {
    width: calc(50% - 12px);
    aspect-ratio: 311/ 544;
    margin-right: 12px; }
    @media screen and (min-width: 416px) {
      .info__image {
        margin-right: 24px; } }
  .info__for-depositors {
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column; }
  .info__subtitle {
    font-size: 13px;
    margin-bottom: 12px; }
    @media screen and (min-width: 416px) {
      .info__subtitle {
        font-size: 18px;
        margin-bottom: 16px; } }
  .info__link {
    text-decoration: none;
    font-size: 13px;
    color: #2b74b9;
    margin-bottom: 12px; }
    @media screen and (min-width: 416px) {
      .info__link {
        font-size: 16px;
        margin-bottom: 16px; } }
