.primary-input {
  width: 100%; }
  .primary-input__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: #78828c; }
  .primary-input__field {
    width: 100%;
    height: 29px;
    border-bottom: 2px solid #50287d; }

.secondary-input {
  width: 100%; }
  .secondary-input__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    color: #b5bdc8;
    margin-top: 20px; }
    @media screen and (min-width: 576px) {
      .secondary-input__label {
        font-size: 16px; } }
  .secondary-input__field {
    width: 100%;
    height: 10px;
    margin-bottom: 24px;
    border-bottom: 1px solid #b5bdc8; }
  .secondary-input:active .secondary-input__field {
    height: 29px;
    border-bottom: 2px solid #50287d; }
  .secondary-input:active .secondary-input__label {
    font-size: 11px;
    color: #000000;
    margin-top: 7px; }

.tertiary-input {
  width: 100%; }
  .tertiary-input__block {
    margin-top: 18px; }
  .tertiary-input__top-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #b5bdc8; }
  .tertiary-input__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tertiary-input__label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    color: #28323c; }
    @media screen and (min-width: 576px) {
      .tertiary-input__label {
        font-size: 16px; } }
  .tertiary-input__field {
    width: 100%;
    height: 8px;
    border-bottom: 1px solid #b5bdc8; }
  .tertiary-input:active .tertiary-input__field {
    border-bottom: 2px solid #ffffff; }
  .tertiary-input:active .tertiary-input__label {
    color: #000000; }

.input-date {
  width: 100%; }
  .input-date__label {
    color: #b5bdc8; }
  .input-date__block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .input-date__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8; }
  .input-date__icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .input-date__triangle {
    width: 8px;
    height: 6px;
    background-position: center;
    background-size: cover; }

.input-prompt {
  width: 100%; }
  .input-prompt__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 47px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8;
    box-sizing: border-box; }

.input-subtitle {
  width: 100%; }
  .input-subtitle__field {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 47px;
    color: #b5bdc8;
    border-bottom: 1px solid #b5bdc8;
    box-sizing: border-box; }
  .input-subtitle__subtitle {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    line-height: 24px;
    color: #b5bdc8; }

.input-border {
  width: 100%;
  height: 56px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 47px;
  color: #b0bfc6; }

.primary-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .primary-checkbox__icon {
    padding: 2px;
    height: 24px;
    display: flex;
    align-self: flex-start;
    margin-right: 18px;
    flex: none; }
  .primary-checkbox__checker {
    width: 20px;
    height: 20px;
    border: 2px solid #95bef0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .primary-checkbox__checker::before {
      content: "";
      width: 1px;
      height: 1px;
      display: inline-block;
      border-radius: 2px;
      transition: background-color 0.3s, width 0.3s, height 0.3s; }
  .primary-checkbox__input {
    display: none; }
  .primary-checkbox__label {
    color: #5a646e; }
  .primary-checkbox__link {
    color: #50287d;
    width: 100%;
    text-decoration: none; }

.primary-button {
  cursor: pointer;
  width: 100%;
  max-width: 365px;
  padding: 12px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #50287d;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box; }

.secondary-button {
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #50287d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-align: center; }

.tertiary-button {
  cursor: pointer;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #50287d;
  background-color: #50287d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: white;
  text-align: center;
  flex: none; }
  .tertiary-button:hover {
    border: 2px solid #50287d;
    box-shadow: 2px 2px 2px 2px #50287d; }

.primary-radio {
  width: 100%; }
  .primary-radio__container {
    width: 100%;
    max-width: 272px;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 375px) {
      .primary-radio__container {
        max-width: 100%; } }
    @media screen and (min-width: 414px) {
      .primary-radio__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
  .primary-radio__item {
    cursor: pointer;
    flex: auto; }
    .primary-radio__item:active {
      color: #2f2f34; }
    .primary-radio__item:first-child {
      margin-left: 0px; }
    .primary-radio__item:last-child {
      margin-right: 0px; }
  .primary-radio__field {
    display: none; }
  .primary-radio__title {
    color: #617e8c; }

.twin-switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .twin-switch__subheading {
    color: blue;
    margin-bottom: 36px; }
  .twin-switch__item {
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #c4c4c4; }
    .twin-switch__item:first-child {
      background-color: #1998a7;
      border: 1px solid #1998a7;
      border-radius: 8px 0px 0px 8px; }
    .twin-switch__item:last-child {
      border-radius: 0px 8px 8px 0px; }
    .twin-switch__item:first-child .twin-switch__title {
      color: white; }
    .twin-switch__item:hover {
      transform: scale(1.05);
      transition: 0.2s linear; }
    .twin-switch__item:active {
      border: 2px; }
  .twin-switch__field {
    display: none; }
  .twin-switch__title {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding: 21px 12px; }

.slider {
  width: 100%;
  max-width: calc(100% - 48px); }
  .slider__block {
    width: 100%;
    margin-bottom: 72px; }
  .slider__subheading {
    color: #2f2f34;
    margin-bottom: 24px; }
  .slider__range {
    width: 100%;
    margin-bottom: 36px; }
  .slider__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .slider__title_item {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #28323c; }

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  padding-left: 24px; }
  .checkbox__field {
    display: none; }
  .checkbox__title {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #15499f;
    margin: 0 8px; }
    .checkbox__title::before {
      content: url(../../assets/icons/southernMain/checkbox.svg);
      width: 24px;
      height: 24px;
      position: absolute;
      top: 2px;
      left: -27px; }
  .checkbox__after {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #d0d9de;
    display: flex;
    flex: none; }
  .checkbox__after-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2f2f34;
    flex: none;
    margin: auto; }

.label {
  width: 100%;
  padding: 3px 2px;
  font-size: 11px;
  line-height: 18px;
  color: white;
  background-color: #50287d;
  border-radius: 4px;
  text-align: center; }

.primary-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #50287d;
  display: block;
  width: 100%;
  text-decoration: none; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }
