.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff; }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px; }
    @media screen and (min-width: 1025px) {
      .header__row {
        margin-left: 72px;
        margin-right: 72px; } }
  .header__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__lines {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    margin-right: 22px; }
    @media screen and (min-width: 1025px) {
      .header__lines {
        display: none; } }
  .header__line {
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: #617e8c; }
  .header__logo {
    width: 139px;
    height: 28px;
    margin: 18.5px 0; }
  .header__column {
    position: relative;
    display: inline-block;
    display: none; }
    .header__column:hover .header__content {
      display: block; }
    @media screen and (min-width: 1024px) {
      .header__column {
        display: block; } }
  .header__content {
    display: none;
    position: absolute;
    min-width: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1; }
  .header__drop-down {
    font-size: 13px; }
    @media screen and (min-width: 1024px) {
      .header__drop-down {
        font-size: 14px; } }
    .header__drop-down:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .header__link {
    padding: 6px 8px;
    display: block;
    font-size: 11px;
    text-decoration: none; }
    @media screen and (min-width: 1024px) {
      .header__link {
        font-size: 13px; } }
    .header__link:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .header__link-main {
    font-size: 13px;
    text-decoration: none; }
    @media screen and (min-width: 1024px) {
      .header__link-main {
        font-size: 14px; } }
    .header__link-main:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .header__auth {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 576px) {
      .header__auth {
        width: 186px; } }
  .header__link-login {
    font-size: 11px;
    color: #28323c;
    display: flex;
    justify-content: space-between;
    text-decoration: none; }
    @media screen and (min-width: 1024px) {
      .header__link-login {
        font-size: 13px; } }
  .header__icon-search {
    width: 20px;
    height: 20px;
    margin-right: 32px; }
    @media screen and (min-width: 576px) {
      .header__icon-search {
        margin-right: 24px; } }
  .header__icon-login {
    width: 20px;
    height: 20px;
    margin-right: 0; }
    @media screen and (min-width: 576px) {
      .header__icon-login {
        margin-right: 24px; } }
  .header__login {
    font-size: 13px;
    display: none; }
    .header__login:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 576px) {
      .header__login {
        display: block; } }

.location {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px 16px;
  background: #f2f7fb;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .location {
      padding: 40px 72px 56px; } }
  .location__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center; }
    @media screen and (min-width: 767px) {
      .location__heading {
        font-size: 34px;
        line-height: 48px; } }
  .location__container {
    display: flex;
    justify-content: space-between; }
  .location__list {
    width: 272px; }
    @media screen and (min-width: 375px) {
      .location__list {
        width: 327px; } }
  .location__sector-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; }
    @media screen and (min-width: 576px) {
      .location__sector-select {
        max-width: 80%; } }
  .location__city {
    max-width: 69px; }
    @media screen and (min-width: 576px) {
      .location__city {
        max-width: 40%; } }
  .location__area {
    max-width: 75px; }
    @media screen and (min-width: 576px) {
      .location__area {
        max-width: 40%; } }
  .location__address {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px; }
    .location__address::before {
      content: url(../../assets/icons/mapsFlags.svg);
      position: relative;
      top: 4px;
      left: -1px; }
  .location__map-container {
    width: calc(100% - 327px);
    height: 624px;
    background-position: center center;
    background-size: cover;
    display: none; }
    @media screen and (min-width: 576px) {
      .location__map-container {
        display: block; } }
  .location__map-title {
    margin-bottom: 16px; }
  .location__map-block {
    width: 100%;
    overflow-x: scroll; }
    @media screen and (min-width: 1440px) {
      .location__map-block {
        overflow-x: hidden; } }
  .location__map {
    width: 969px;
    height: 624px;
    background-position: center center;
    background-size: cover; }

.secondary-radio {
  width: 100%;
  max-width: 132px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 576px) {
    .secondary-radio {
      display: none; } }
  .secondary-radio__item {
    width: 50%;
    cursor: pointer;
    padding: 7px 12px;
    box-sizing: border-box; }
    .secondary-radio__item:first-child {
      background-color: #15499f;
      border: 1px solid #15499f;
      border-radius: 8px 0 0 8px; }
    .secondary-radio__item:first-child .secondary-radio__title {
      color: #f2f7fb; }
    .secondary-radio__item:last-child {
      background-color: white;
      border: 1px solid black;
      border-radius: 0 8px 8px 0; }
    .secondary-radio__item:hover {
      transform: scale(1.05);
      transition: 0.2s linear; }
    .secondary-radio__item:active {
      border: 2px; }
  .secondary-radio__field {
    display: none; }
  .secondary-radio__title {
    font-size: 13px;
    line-height: 24px; }

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 0;
  background: #ffffff;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: 40px 72px 16px; } }
  .footer__body {
    width: 100%;
    flex: none; }
    @media screen and (min-width: 1024px) {
      .footer__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; } }
  .footer__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0px;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .footer__column {
        margin-bottom: 80px; } }
    .footer__column:nth-child(1) {
      min-width: 200px; }
    .footer__column:nth-child(2) {
      min-width: 200px; }
    .footer__column:nth-child(3) {
      min-width: 270px; }
    .footer__column:nth-child(4) {
      min-width: 135px;
      margin-bottom: 32px; }
      @media screen and (min-width: 1299px) {
        .footer__column:nth-child(4) {
          min-width: 200px; } }
    .footer__column:nth-child(5) {
      width: 100%;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between; }
      @media screen and (min-width: 576px) {
        .footer__column:nth-child(5) {
          justify-content: flex-start; } }
      @media screen and (min-width: 1299px) {
        .footer__column:nth-child(5) {
          min-width: 208px;
          max-width: 232px;
          flex-direction: column; } }
      .footer__column:nth-child(5) a.footer__link-main {
        display: none; }
        @media screen and (min-width: 1299px) {
          .footer__column:nth-child(5) a.footer__link-main {
            display: block; } }
  .footer__link {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-size: 14px; }
    @media screen and (min-width: 1024px) {
      .footer__link {
        font-size: 16px; } }
  .footer__link-main {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    order: 0; }
    @media screen and (min-width: 1024px) {
      .footer__link-main {
        font-size: 18px; } }
  .footer__link-order {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    order: -1; }
    @media screen and (min-width: 1024px) {
      .footer__link-order {
        font-weight: normal;
        font-size: 18px;
        order: 3; } }
  .footer__seeing {
    width: 100%;
    max-width: 272px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(62, 62, 69, 0.15);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: none; }
    .footer__seeing:hover {
      display: block; }
    @media screen and (min-width: 1024px) {
      .footer__seeing {
        max-width: 100%;
        display: block;
        box-shadow: none; } }
  .footer__block:nth-child(2) {
    width: 155px;
    order: 2; }
    .footer__block:nth-child(2) li:nth-child(1) a {
      margin-bottom: 0; }
      @media screen and (min-width: 1299px) {
        .footer__block:nth-child(2) li:nth-child(1) a {
          margin-bottom: 16px; } }
    @media screen and (min-width: 576px) {
      .footer__block:nth-child(2) {
        min-width: 232px; } }
    @media screen and (min-width: 1299px) {
      .footer__block:nth-child(2) {
        min-width: 232px;
        order: 1; } }
  .footer__block:nth-child(3) {
    display: none; }
    @media screen and (min-width: 1299px) {
      .footer__block:nth-child(3) {
        display: block;
        order: 2; } }
  .footer__block:nth-child(4) {
    order: 1; }
    @media screen and (min-width: 1299px) {
      .footer__block:nth-child(4) {
        order: 3; } }
  .footer__block .footer__link:nth-child(1) {
    margin-bottom: 0; }
    @media screen and (min-width: 1024px) {
      .footer__block .footer__link:nth-child(1) {
        margin-bottom: 16px; } }
  .footer__block .footer__link:nth-child(2) {
    color: #acadb1;
    font-size: 11px;
    font-weight: normal; }
    @media screen and (min-width: 1024px) {
      .footer__block .footer__link:nth-child(2) {
        font-size: 14px;
        margin-bottom: 16px; } }
  .footer__social-groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96px;
    height: 24px; }
    @media screen and (min-width: 375px) {
      .footer__social-groups {
        justify-content: space-between;
        width: 147.5px; } }
    @media screen and (min-width: 576px) {
      .footer__social-groups {
        min-width: 222px;
        margin-right: 63px; } }
  .footer__icon {
    width: 12px;
    height: 12px; }
    @media screen and (min-width: 375px) {
      .footer__icon {
        width: 24px;
        height: 24px; } }
