.h1-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 48px;
  color: #28323c; }

.h2-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #28323c; }

.h2-font-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #28323c; }
  @media screen and (min-width: 576px) {
    .h2-font-h1 {
      font-size: 34px;
      line-height: 48px; } }

.md-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #28323c; }

.sm-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #28323c; }

.sm-font-md {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #28323c; }
  @media screen and (min-width: 576px) {
    .sm-font-md {
      font-size: 16px; } }

.x-sm-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Gerbera;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
  color: #28323c; }

.x-sm-font-sm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: Gerbera;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
  color: #28323c; }
  @media screen and (min-width: 576px) {
    .x-sm-font-sm {
      font-size: 13px;
      line-height: 24px; } }
