<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/headerLocationFooter.css" />
    <link rel="stylesheet" href="../styles/css/aboutUs.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                Частным лицам
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Кредитование</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Денежные переводы</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Сейфовые ячейки</a
                >

                <a class="header__link drop-down__link" href="#">Ипотека</a>

                <a class="header__link drop-down__link" href="#">Вклады</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                Бизнесу
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Кредиты бизнесу</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Зарплатные проекты</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Тарифы для юр. лиц</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Банк - клиент</a
                >
                <a class="header__link drop-down__link" href="#">Гарантии</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                О банке
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Офисы и отделения</a
                >
                <a class="header__link drop-down__link" href="#">Реквизиты</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <a class="header__hidden header__link" href="">Новости</a>

          <a class="header__hidden header__link" href="">Офисы и отделения</a>
          <div class="header__authorization">
            <form class="header__form-search" action="">
              <img
                class="header__icon header__icon_search"
                src="../assets/icons/searchIcon.svg"
                alt=""
              />
            </form>

            <a class="header__link header__link_login sm-font" href="">
              <img
                class="header__icon header__icon_login"
                src="../assets/icons/userIcon.svg"
                alt=""
              />
              <p class="header__login sm-font">Личный кабинет</p>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/aboutUs/aboutUs01.jpg)"
      >
        <h1 class="top-block__heading">
          Вместе мы покорим
          <span class="top-block__heading_span">любые вершины</span>
        </h1>

        <form class="top-block__button-container" action="">
          <button class="tertiary-button">Всё о нашем банке</button>
        </form>
      </section>
      <!-- top-block -->

      <!-- about-us -->
      <section class="about">
        <h1 class="about__heading">О банке</h1>
        <p class="about__desciption">
          Южный банк входит в ТОП-100 по основным показателям капитала, выданных
          кредитов и привлеченных вкладов населения, является членом
          Национальной Финансовой Ассоциации, ассоциированным членом Visa
          International и аффилированным членом MasterCard.
        </p>
        <p class="about__desciption">
          Основным акционером (учредителем) АО «Южный банк» является INVESTMENTS
          LIMITED (ИНВЕСТМЕНТС ЛИМИТЕД), который владеет 99,9% уставного
          капитала банка. Генеральным директором и конечным собственником
          является Кирсанов Лев Михайлович, занимающий эту должность с 2002
          года.
        </p>
        <div class="about__images">
          <img
            class="about__picture"
            src="../assets/images/aboutUs/aboutUs02.jpg"
            alt=""
          />
          <img
            class="about__picture"
            src="../assets/images/aboutUs/aboutUs03.jpg"
            alt=""
          />
        </div>
        <p class="about__desciption">
          Слоган банка «Дело в людях» отражает отношение банка к своим клиентам
          – вовлеченный подход, направленный прежде всего на благополучие
          каждого клиента, на партнерские отношения и долгосрочное
          сотрудничество.
        </p>
      </section>
      <!-- about-us -->

      <!-- progress -->
      <section class="progress">
        <div class="progress__range">
          <div class="progress__block">
            <div
              class="progress__image"
              style="background-image: url(../assets/icons/circle.svg)"
            ></div>
            <img
              class="progress__picture"
              src="../assets/icons/cup.svg"
              alt=""
            />
            <p class="progress__description">
              Входит в TOP-100 по версии рейтингового агенства S&P Global
              Ratings
            </p>
          </div>
          <div class="progress__block">
            <div
              class="progress__image"
              style="background-image: url(../assets/icons/circle.svg)"
            ></div>
            <img
              class="progress__picture"
              src="../assets/icons/bank.svg"
              alt=""
            />
            <p class="progress__description">
              4 операционных и 19 дополнительных офисов
            </p>
          </div>
          <div class="progress__block">
            <div
              class="progress__image"
              style="background-image: url(../assets/icons/circle.svg)"
            ></div>
            <img
              class="progress__picture"
              src="../assets/icons/dollar.svg"
              alt=""
            />
            <p class="progress__description">
              Банк обслуживает порядка 20 тысяч клиентов
            </p>
          </div>
          <div class="progress__block">
            <div
              class="progress__image"
              style="background-image: url(../assets/icons/circle.svg)"
            ></div>
            <img
              class="progress__picture"
              src="../assets/icons/graph.svg"
              alt=""
            />
            <p class="progress__description">
              Рейтинг кредитоспособности на уровне «ruВВ+»
            </p>
          </div>
        </div>
      </section>
      <!-- progress -->

      <!-- stories -->
      <section class="stories">
        <h1 class="stories__heading">Истории клиентов</h1>
        <p class="stories__offer">
          Делитесь с нами Вашими замечательными историями
          <a class="stories__link" href=""> в Личном кабинете</a>
        </p>
        <div class="stories__range">
          <div class="stories__block">
            <div class="stories__wrapper">
              <div
                class="stories__image"
                style="
                  background-image: url(../assets/images/aboutUs/pavelShostac.jpg);
                "
              ></div>
              <h2 class="stories__subheading">
                «Поставили забор – попросили построить дом»
              </h2>
              <p class="stories__description">
                Директор самарской компании по строительству заборов Павел
                Шостак до сих пор вспоминает, как ответственное отношение к
                обслуживанию клиента привело к расширению бизнеса. -
                Первоначально мы занимались установкой и строительством заборов.
                А три года назад у нас произошёл случай, который полностью
                изменил дальнейшее развитие компании, - вспоминает Павел. -
                Клиент обратился с задачей построить забор, в указанный срок мы
                сдали заказ. И совершенно неожиданно получили от клиента
                предложение построить ему ещё и дом на этом участке.
              </p>
            </div>
          </div>
          <div class="stories__block">
            <div class="stories__wrapper">
              <div
                class="stories__image"
                style="
                  background-image: url(../assets/images/aboutUs/sergeiVoronchishin.jpg);
                "
              ></div>
              <h2 class="stories__subheading">«Не могу выехать из дома»</h2>
              <p class="stories__description">
                У Сергея Ворончихина из Саратова – популярный автосервис. За год
                здесь чинят около пяти тысяч автомобилей постоянных клиентов. -
                Бывали случаи, когда мы ещё даже не на работе, а клиенту срочно
                нужна помощь, ещё и с выездом за город, - рассказывает Сергей. -
                У нас такой услуги как таковой нет, но как не выручить? Так
                однажды утром меня разбудил звонок от клиента. Весь семейный
                автопарк они постоянно обслуживает у нас.
              </p>
            </div>
          </div>
          <div class="stories__block">
            <div class="stories__wrapper">
              <div
                class="stories__image"
                style="
                  background-image: url(../assets/images/aboutUs/oksanaDavidova.webp);
                "
              ></div>
              <h2 class="stories__subheading">
                «Открыл дело и подписал удачный контракт»
              </h2>
              <p class="stories__description">
                Руководитель оренбургского центра, помогающего в регистрации
                бизнеса, Оксана Давыдова признается – ежедневно в компанию
                приходят клиенты с самыми разными задачами и запросами. Кому-то
                нужно помочь открыть бизнес, кому-то - просто корректно
                заполнить документ или получить консультацию.
              </p>
            </div>
          </div>

          <div class="stories__block">
            <div class="stories__wrapper">
              <div
                class="stories__image"
                style="
                  background-image: url(../assets/images/aboutUs/annaTomina.jpg);
                "
              ></div>
              <h2 class="stories__subheading">«Мама в роддоме, папа в шоке»</h2>
              <p class="stories__description">
                Директор тольяттинского магазина детской одежды Анна Томина
                рассказывает: магазин работает по франшизе, поэтому основные
                элементы сервисной модели заложены базово – например, программа
                лояльности и интернет-магазин. Но бывают и случаи, которые
                выбиваются из стандартной модели обслуживания. - Регулярно
                помогаем что-то выбрать дистанционно, иногда мамы уже из роддома
                просят подобрать определенные вещи.
              </p>
            </div>
          </div>
          <div class="stories__block">
            <div class="stories__wrapper">
              <div
                class="stories__image"
                style="
                  background-image: url(../assets/images/aboutUs/valericBaranov.webp);
                "
              ></div>
              <h2 class="stories__subheading">
                «Делимся техникой и рабочими руками»
              </h2>
              <p class="stories__description">
                Индивидуальный предприниматель Валерик Баранов из Волгограда уже
                более 15 лет занимается строительным бизнесом, и за это время
                успел построить множество торговых, медицинских зданий, кафе,
                жилых домов, дороги, инженерные сети. - У нас уже годами
                сложенные не только партнерские, но и дружеские отношения, -
                рассказывает бизнесмен. - Строительный бизнес очень тесно связан
                с качеством финансирования.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- stories -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <div class="location__city">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="city">
                      <option class="select__item" value="">Москва</option>
                      <option class="select__item" value="">
                        Санкт Петербург
                      </option>
                      <option class="select__item" value="">Казань</option>
                      <option class="select__item" value="">
                        Нижний Новгород
                      </option>
                      <option class="select__item" value="">Волгоград</option>
                      <option class="select__item" value="">Камышин</option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <div class="location__area">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="area">
                      <option class="select__item" value="">Кузминки</option>
                      <option class="select__item" value="">Некрасовка</option>
                      <option class="select__item" value="">Люберцы</option>
                      <option class="select__item" value="">Лефортово</option>
                      <option class="select__item" value="">Дубровка</option>
                      <option class="select__item" value="">
                        Волгоградский проспект
                      </option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Список</div>
                </label>

                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Карта</div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="background-image: url(../assets/images/general/map.jpg)"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Частным лицам</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Кредитование
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Денежные переводы
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Сейфовые ячейки
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Ипотека</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Вклады</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Бизнесу</a>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Кредиты бизнесу</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Зарплатные проекты</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Тарифы для юр. лиц</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банк - клиент</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Гарантии</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main-hidden" href="">
              Финансовым институтам</a
            >
            <a class="footer__link footer__link_main-visible" href=""
              >Новости</a
            >
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Операции с ценными бумагами</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банкам-контрагентам</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Сотрудничество</a
              >
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Южный Банк</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">О нас</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Офисы и отделения</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Новости</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Реквизиты</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Контакты</a>
            <div class="footer__visible">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (800) 980 62 62</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Бесплатный звонок по России</a
                >
              </li>
            </div>
            <div class="footer__hidden">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (495) 980 60 60</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Для жителей Москвы и МО</a
                >
              </li>
            </div>
            <li class="footer__order">
              <div class="footer__social-groups">
                <img
                  class="footer__icon"
                  src="../assets/icons/facebook01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/instagram01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/twitter01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/whatsapp01.svg"
                  alt=""
                />
              </div>
            </li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
