<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/headerLocationFooter.css" />
    <link rel="stylesheet" href="../styles/css/comfortable.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                Частным лицам
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Кредитование</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Денежные переводы</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Сейфовые ячейки</a
                >

                <a class="header__link drop-down__link" href="#">Ипотека</a>

                <a class="header__link drop-down__link" href="#">Вклады</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                Бизнесу
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Кредиты бизнесу</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Зарплатные проекты</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Тарифы для юр. лиц</a
                >
                <a class="header__link drop-down__link" href="#"
                  >Банк - клиент</a
                >
                <a class="header__link drop-down__link" href="#">Гарантии</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <!-- drop-down Выпадающее меню. -->
          <div class="header__hidden">
            <div class="drop-down">
              <button class="header__drop-btn drop-down__button">
                О банке
              </button>
              <div class="drop-down__content">
                <a class="header__link drop-down__link" href="#"
                  >Офисы и отделения</a
                >
                <a class="header__link drop-down__link" href="#">Реквизиты</a>
              </div>
            </div>
          </div>
          <!-- drop-down Выпадающее меню. -->

          <a class="header__hidden header__link" href="">Новости</a>

          <a class="header__hidden header__link" href="">Офисы и отделения</a>
          <div class="header__authorization">
            <form class="header__form-search" action="">
              <img
                class="header__icon header__icon_search"
                src="../assets/icons/searchIcon.svg"
                alt=""
              />
            </form>

            <a class="header__link header__link_login sm-font" href="">
              <img
                class="header__icon header__icon_login"
                src="../assets/icons/userIcon.svg"
                alt=""
              />
              <p class="header__login sm-font">Личный кабинет</p>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section class="top-block">
        <div class="top-block__column">
          <div class="top-block__nav">
            <p class="top-block__link">Главная</p>
            <p class="top-block__link">Частным лицам</p>
            <p class="top-block__link">Вклады</p>
            <p class="top-block__link">Комфортный</p>
          </div>
          <h2 class="top-block__heading">Вклад “Комфортный”</h2>
          <p class="top-block__rate">Максимальная ставка</p>
          <h2 class="top-block__heading">до 5%</h2>
          <div class="top-block__line"></div>
          <div class="top-block__sector">
            <div class="top-block__title">Сумма на счёте</div>
            <div class="top-block__title">Срок</div>
            <div class="top-block__title">Пополнение и снятие со счёта</div>
          </div>
          <div class="top-block__sector">
            <div class="top-block__item">от 10 000 рублей</div>
            <div class="top-block__item">360 дней</div>
            <div class="top-block__item">пополняемый, со снятием</div>
          </div>
          <div class="top-block__button-container">
            <button class="top-block__button secondary-button">
              Рассчитать
            </button>
          </div>
        </div>
        <div class="top-block__column">
          <div
            class="top-block__image"
            style="
              background-image: url(../assets/images/comfortable/comfortable.jpg);
            "
          ></div>
        </div>
      </section>
      <!-- top-block -->

      <!-- rates -->
      <section class="rates">
        <div class="rates__container">
          <h1 class="rates__heading">Процентные ставки</h1>
          <p class="rates__subheading">Действуют с 01.02.2020</p>
          <div class="rates__block-switches">
            <!-- twin-switch -->
            <div class="rates__currency">
              <form class="twin-switch">
                <label class="twin-switch__item">
                  <input
                    class="twin-switch__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="twin-switch__title">₽</div>
                </label>

                <label class="twin-switch__item">
                  <input
                    class="twin-switch__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="twin-switch__title">$</div>
                </label>
              </form>
            </div>
            <!-- twin-switch -->

            <!-- twin-switch -->
            <div class="rates__capitalization">
              <form class="twin-switch">
                <label class="twin-switch__item">
                  <input
                    class="twin-switch__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="twin-switch__title">С капитализацией %</div>
                </label>

                <label class="twin-switch__item">
                  <input
                    class="twin-switch__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="twin-switch__title">Без капитализации %</div>
                </label>
              </form>
            </div>
            <!-- twin-switch -->
          </div>

          <!-- twin-switch -->
          <div class="rates__package">
            <form class="twin-switch">
              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Без пакета услуг</div>
              </label>

              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Эконом</div>
              </label>

              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Оптимум</div>
              </label>

              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Максимум +</div>
              </label>
            </form>
          </div>
          <!--  twin-switch -->

          <div class="rates__table">
            <div class="rates__row">
              <p class="rates__data">Сумма</p>
              <p class="rates__subtitle">92 дня</p>
              <p class="rates__subtitle">184 дня</p>
              <p class="rates__subtitle">276 дней</p>
              <p class="rates__subtitle">365 дней</p>
            </div>
            <div class="rates__row">
              <p class="rates__data">
                от 10 000 <span class="rates__span"> до 299 999 </span>
              </p>
              <p class="rates__data">4,11 %</p>
              <p class="rates__data">4,24 %</p>
              <p class="rates__data">3,85 %</p>
              <p class="rates__data">4,39 %</p>
            </div>
            <div class="rates__row">
              <p class="rates__data">
                от 300 000 <span class="rates__span"> до 999 999 </span>
              </p>
              <p class="rates__data">4,21 %</p>
              <p class="rates__data">4,34 %</p>
              <p class="rates__data">3,95 %</p>
              <p class="rates__data">4,49 %</p>
            </div>
            <div class="rates__row">
              <p class="rates__data">
                от 1 000 000 <span class="rates__span"> до 4 999 999 </span>
              </p>
              <p class="rates__data">4,32 %</p>
              <p class="rates__data">4,44 %</p>
              <p class="rates__data">4,05 %</p>
              <p class="rates__data">4,59 %</p>
            </div>
            <div class="rates__row">
              <p class="rates__data">от 5 000 000</p>
              <p class="rates__data">4,42 %</p>
              <p class="rates__data">4,54 %</p>
              <p class="rates__data">4,16 %</p>
              <p class="rates__data">4,7 %</p>
            </div>
          </div>
          <p class="rates__info">
            Для Пакетов услуг «Оптимум», «Эконом» и клиентов без пакета услуг
            указаны процентные ставки для депозита в рублях, которые действуют
            при открытии депозита в Интернет банке «Мой Южный», при открытии
            депозита в Отделении или в Телефонном центре значения процентных
            ставок в рублях будут ниже на 0,2% годовых.
          </p>
        </div>
      </section>
      <!-- rates -->

      <!-- revenue -->
      <section class="revenue">
        <h1 class="revenue__heading">Рассчитать доход</h1>
        <div class="revenue__calculation">
          <div class="revenue__container">
            <p class="revenue__title">Сумма вклада</p>
            <p class="revenue__slider-value">100 000</p>
            <!-- slider-icon -->
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              class="revenue__slider-icon slider-icon"
            />
            <!--  slider-icon -->
          </div>
          <!-- twin-switch -->
          <div class="revenue__container">
            <p class="revenue__title">Валюта</p>
            <div class="twin-switch">
              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">₽</div>
              </label>

              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">$</div>
              </label>
            </div>
          </div>
          <!-- twin-switch -->

          <div class="revenue__container">
            <p class="revenue__title">Срок</p>
            <div class="revenue__selected-time">
              <select name="month">
                <option value="1 month">1 месяц</option>
                <option value="3 months">3 месяца</option>
                <option value="6 months">6 месяцев</option>
                <option value="12 months">12 месяцев</option>
              </select>
            </div>
          </div>
          <!-- twin-switch -->
          <div class="revenue__container">
            <p class="revenue__title">С пополнением</p>
            <form class="twin-switch">
              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Без пополнения</div>
              </label>

              <label class="twin-switch__item">
                <input
                  class="twin-switch__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="twin-switch__title">Без пополнения</div>
              </label>
            </form>
          </div>
          <!-- twin-switch -->

          <!--  -->
        </div>
        <div class="revenue__open-deposit">
          <div class="revenue__rate">
            <h1 class="revenue__subheading">101 450 р.</h1>
            <p>Сумма в конце срока</p>
          </div>
          <div class="revenue__rate">
            <h1 class="revenue__subheading">1 450 р.</h1>
            <p>Доход</p>
          </div>
          <div class="revenue__rate">
            <h1 class="revenue__subheading">5 %</h1>
            <p>Годовая ставка</p>
          </div>
          <div class="revenue__button-container">
            <button class="revenue__button secondary-button">
              Открыть вклад
            </button>
          </div>
        </div>
      </section>
      <!-- revenue -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <div class="location__city">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="city">
                      <option class="select__item" value="">Москва</option>
                      <option class="select__item" value="">
                        Санкт Петербург
                      </option>
                      <option class="select__item" value="">Казань</option>
                      <option class="select__item" value="">
                        Нижний Новгород
                      </option>
                      <option class="select__item" value="">Волгоград</option>
                      <option class="select__item" value="">Камышин</option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <div class="location__area">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="area">
                      <option class="select__item" value="">Кузминки</option>
                      <option class="select__item" value="">Некрасовка</option>
                      <option class="select__item" value="">Люберцы</option>
                      <option class="select__item" value="">Лефортово</option>
                      <option class="select__item" value="">Дубровка</option>
                      <option class="select__item" value="">
                        Волгоградский проспект
                      </option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Список</div>
                </label>

                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Карта</div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="background-image: url(../assets/images/general/map.jpg)"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Частным лицам</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Кредитование
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Денежные переводы
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Сейфовые ячейки
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Ипотека</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Вклады</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Бизнесу</a>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Кредиты бизнесу</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Зарплатные проекты</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Тарифы для юр. лиц</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банк - клиент</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Гарантии</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main-hidden" href="">
              Финансовым институтам</a
            >
            <a class="footer__link footer__link_main-visible" href=""
              >Новости</a
            >
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Операции с ценными бумагами</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банкам-контрагентам</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Сотрудничество</a
              >
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Южный Банк</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">О нас</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Офисы и отделения</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Новости</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Реквизиты</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Контакты</a>
            <div class="footer__visible">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (800) 980 62 62</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Бесплатный звонок по России</a
                >
              </li>
            </div>
            <div class="footer__hidden">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (495) 980 60 60</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Для жителей Москвы и МО</a
                >
              </li>
            </div>
            <li class="footer__order">
              <div class="footer__social-groups">
                <img
                  class="footer__icon"
                  src="../assets/icons/facebook01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/instagram01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/twitter01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/whatsapp01.svg"
                  alt=""
                />
              </div>
            </li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
