<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/headerLocationFooter.css" />
    <link rel="stylesheet" href="../styles/css/deposits.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <div class="header__column">
            <button class="header__drop-down">Частным лицам</button>
            <div class="header__content">
              <a class="header__link" href="#">Кредитование</a>
              <a class="header__link" href="#">Денежные переводы</a>
              <a class="header__link" href="#">Сейфовые ячейки</a>

              <a class="header__link" href="#">Ипотека</a>

              <a class="header__link" href="#">Вклады</a>
            </div>
          </div>

          <div class="header__column">
            <button class="header__drop-down">Бизнесу</button>
            <div class="header__content">
              <a class="header__link" href="#">Кредиты бизнесу</a>
              <a class="header__link" href="#">Зарплатные проекты</a>
              <a class="header__link" href="#">Тарифы для юр. лиц</a>
              <a class="header__link" href="#">Банк - клиент</a>
              <a class="header__link" href="#">Гарантии</a>
            </div>
          </div>

          <div class="header__column">
            <button class="header__drop-down">О банке</button>
            <div class="header__content">
              <a class="header__link" href="#">Офисы и отделения</a>
              <a class="header__link" href="#">Реквизиты</a>
            </div>
          </div>

          <div class="header__column">
            <a class="header__link-main" href="#">Новости</a>
          </div>

          <div class="header__column">
            <a class="header__link-main" href="#">Офисы и отделения</a>
          </div>

          <div class="header__auth">
            <img
              class="header__icon-search"
              src="../assets/icons/searchIcon.svg"
              alt=""
            />

            <a class="header__link-login" href="#">
              <img
                class="header__icon-login"
                src="../assets/icons/userIcon.svg"
                alt=""
              />
              <p class="header__login">Личный кабинет</p>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/main/mortgage.jpg"
      >
        <h1 class="top-block__heading">
          Вклады и
          <span class="top-block__heading_span">инвестиции</span>
        </h1>

        <div class="top-block__button-container">
          <button class="tertiary-button">Подобрать вклад</button>
        </div>
      </section>
      <!-- top-block -->

      <!-- spot -->
      <section class="spot">
        <div class="spot__nav">
          <a class="spot__link" href="#">Главная</a>
          <a class="spot__link" href="#">Частным лицам</a>
          <a class="spot__link" href="#">Вклады</a>
        </div>
      </section>
      <!-- spot -->

      <!-- deposits -->
      <section class="deposits">
        <div class="deposits__row">
          <img
            class="deposits__image"
            src="../assets/images/deposits/flower.jpg"
            alt=""
          />
          <div class="deposits__contribution">
            <p class="deposits__rate">Накопительный счёт “Копилка”</p>
            <p class="deposits__clarification">
              С начислением на ежедневный остаток
            </p>
            <div class="deposits__description">
              <div class="deposits__sector">
                <p class="deposits__title">Сумма на счёте</p>
                <p class="deposits__item">Не ограничена</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Срок</p>
                <p class="deposits__item">бессрочный</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Ставка</p>
                <p class="deposits__item">до 7 %</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Пополнение и снятие со счёта</p>
                <p class="deposits__item">пополняемый, со снятием</p>
              </div>
            </div>
            <a class="deposits__link" href="#">Ставки и условия</a>
          </div>
        </div>
        <div class="deposits__row">
          <img
            class="deposits__image"
            src="../assets/images/deposits/man.jpg"
            alt=""
          />
          <div class="deposits__contribution">
            <p class="deposits__rate">Вклад “Время роста”</p>
            <p class="deposits__clarification">
              С минимальной ставкой на фиксированный срок
            </p>
            <div class="deposits__description">
              <div class="deposits__sector">
                <p class="deposits__title">Сумма на счёте</p>
                <p class="deposits__item">от 30 000 руб</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Срок</p>
                <p class="deposits__item">180-731 дней</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Ставка</p>
                <p class="deposits__item">до 6,5 %</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Пополнение и снятие со счёта</p>
                <p class="deposits__item">без пополнения и снятия</p>
              </div>
            </div>
            <a class="deposits__link" href="#">Ставки и условия</a>
          </div>
        </div>
        <div class="deposits__row">
          <img
            class="deposits__image"
            src="../assets/images/deposits/room.jpg"
            alt=""
          />
          <div class="deposits__contribution">
            <p class="deposits__rate">Вклад “Комфортный”</p>
            <p class="deposits__clarification">
              С начислением на ежедневный остаток
            </p>
            <div class="deposits__description">
              <div class="deposits__sector">
                <p class="deposits__title">Сумма на счёте</p>
                <p class="deposits__item">от 10 000 руб</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Срок</p>
                <p class="deposits__item">90-360 дней</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Ставка</p>
                <p class="deposits__item">до 5%</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Пополнение и снятие со счёта</p>
                <p class="deposits__item">пополняемый, со снятием</p>
              </div>
            </div>
            <a class="deposits__link" href="#">Ставки и условия</a>
          </div>
        </div>
        <div class="deposits__row">
          <img
            class="deposits__image"
            src="../assets/images/deposits/people.jpg"
            alt=""
          />
          <div class="deposits__contribution">
            <p class="deposits__rate">Вклад “Пенсионный”</p>
            <p class="deposits__clarification">
              С минимальной ставкой на фиксированный срок
            </p>
            <div class="deposits__description">
              <div class="deposits__sector">
                <p class="deposits__title">Сумма на счёте</p>
                <p class="deposits__item">от 10 000 рублей</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Срок</p>
                <p class="deposits__item">180-360 дней</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Ставка</p>
                <p class="deposits__item">до 7 %</p>
              </div>
              <div class="deposits__sector">
                <p class="deposits__title">Пополнение и снятие со счёта</p>
                <p class="deposits__item">пополняемый,со снятием</p>
              </div>
            </div>
            <a class="deposits__link" href="#">Ставки и условия</a>
          </div>
        </div>
      </section>
      <!-- deposits -->

      <!-- info -->
      <section class="info">
        <div class="info__row row">
          <div class="info__column col-12 col-md-6">
            <div class="info__wrapper">
              <img
                class="info__image"
                src="../assets/images/deposits/schoolbag.jpg"
                alt=""
              />

              <div class="info__for-depositors">
                <p class="info__subtitle">Информация для вкладчиков</p>
                <a class="info__link" href="#">Где открыть вклад</a>
                <a class="info__link" href="#">Страхование вкладов</a>
                <a class="info__link" href="#">Налогооблажение вкладов</a>
                <a class="info__link" href="#">Частые вопросы</a>
                <a class="info__link" href="#">Тарифы</a>
                <a class="info__link" href="#">Справки и выписки</a>
              </div>
            </div>
          </div>

          <div class="info__column col-12 col-md-6">
            <div class="info__wrapper">
              <img
                class="info__image"
                src="../assets/images/deposits/money.jpg"
                alt=""
              />

              <div class="info__for-depositors">
                <p class="info__subtitle">Сбережения</p>
                <a class="info__link" href="#">Металлические счета</a>
                <a class="info__link" href="#"
                  >Монеты из драгоценных металлов</a
                >
                <a class="info__link" href="#">Сейфовые ячейки</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- info -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <div class="location__city">
                <div class="select">
                  <label>
                    <select class="select__list" name="city">
                      <option class="select__item" value="">Москва</option>
                      <option class="select__item" value="">
                        Санкт Петербург
                      </option>
                      <option class="select__item" value="">Казань</option>
                      <option class="select__item" value="">
                        Нижний Новгород
                      </option>
                      <option class="select__item" value="">Волгоград</option>
                      <option class="select__item" value="">Камышин</option>
                    </select>
                  </label>
                </div>
              </div>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <div class="location__area">
                <div class="select">
                  <label>
                    <select class="select__list" name="area">
                      <option class="select__item" value="">Кузминки</option>
                      <option class="select__item" value="">Некрасовка</option>
                      <option class="select__item" value="">Люберцы</option>
                      <option class="select__item" value="">Лефортово</option>
                      <option class="select__item" value="">Дубровка</option>
                      <option class="select__item" value="">
                        Волгоградский проспект
                      </option>
                    </select>
                  </label>
                </div>
              </div>

              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label class="secondary-radio__item">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Список</div>
                </label>

                <label class="secondary-radio__item">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Карта</div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="background-image: url(../assets/images/general/map.jpg)"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Частным лицам</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#"> Кредитование </a>
              </li>
              <li>
                <a class="footer__link" href="#"> Денежные переводы </a>
              </li>
              <li>
                <a class="footer__link" href="#"> Сейфовые ячейки </a>
              </li>
              <li>
                <a class="footer__link" href="#">Ипотека</a>
              </li>
              <li>
                <a class="footer__link" href="#">Вклады</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Бизнесу</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">Кредиты бизнесу</a>
              </li>
              <li>
                <a class="footer__link" href="#">Зарплатные проекты</a>
              </li>
              <li>
                <a class="footer__link" href="#">Тарифы для юр. лиц</a>
              </li>
              <li>
                <a class="footer__link" href="#">Банк - клиент</a>
              </li>
              <li>
                <a class="footer__link" href="#">Гарантии</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Финансовым институтам</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">Операции с ценными бумагами</a>
              </li>
              <li>
                <a class="footer__link" href="#">Банкам-контрагентам</a>
              </li>
              <li>
                <a class="footer__link" href="#">Сотрудничество</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-order" href="#">Новости</a>
            <a class="footer__link-main" href="#"> Южный Банк</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">О нас</a>
              </li>
              <li>
                <a class="footer__link" href="#">Офисы и отделения</a>
              </li>

              <li>
                <a class="footer__link" href="#">Реквизиты</a>
              </li>
            </div>
          </ul>

          <div class="footer__column">
            <a class="footer__link-main" href="#"> Контакты</a>
            <div class="footer__block">
              <a class="footer__link" href="#">8 (800) 980 62 62</a>
              <a class="footer__link" href="#">Бесплатный звонок по России</a>
            </div>
            <div class="footer__block">
              <a class="footer__link" href="#">8 (495) 980 60 60</a>

              <a class="footer__link" href="#">Для жителей Москвы и МО</a>
            </div>
            <div class="footer__block">
              <div class="footer__social-groups">
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/facebook01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/instagram01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/twitter01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/whatsapp01.svg"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
