<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/headerLocationFooter.css" />
    <link rel="stylesheet" href="../styles/css/mortgage.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <div class="header__column">
            <button class="header__drop-down">Частным лицам</button>
            <div class="header__content">
              <a class="header__link" href="#">Кредитование</a>
              <a class="header__link" href="#">Денежные переводы</a>
              <a class="header__link" href="#">Сейфовые ячейки</a>

              <a class="header__link" href="#">Ипотека</a>

              <a class="header__link" href="#">Вклады</a>
            </div>
          </div>

          <div class="header__column">
            <button class="header__drop-down">Бизнесу</button>
            <div class="header__content">
              <a class="header__link" href="#">Кредиты бизнесу</a>
              <a class="header__link" href="#">Зарплатные проекты</a>
              <a class="header__link" href="#">Тарифы для юр. лиц</a>
              <a class="header__link" href="#">Банк - клиент</a>
              <a class="header__link" href="#">Гарантии</a>
            </div>
          </div>

          <div class="header__column">
            <button class="header__drop-down">О банке</button>
            <div class="header__content">
              <a class="header__link" href="#">Офисы и отделения</a>
              <a class="header__link" href="#">Реквизиты</a>
            </div>
          </div>

          <div class="header__column">
            <a class="header__link-main" href="#">Новости</a>
          </div>

          <div class="header__column">
            <a class="header__link-main" href="#">Офисы и отделения</a>
          </div>

          <div class="header__auth">
            <img
              class="header__icon-search"
              src="../assets/icons/searchIcon.svg"
              alt=""
            />

            <a class="header__link-login" href="#">
              <img
                class="header__icon-login"
                src="../assets/icons/userIcon.svg"
                alt=""
              />
              <p class="header__login">Личный кабинет</p>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/main/mortgage.jpg)"
      >
        <h1 class="top-block__heading">
          Ипотека на жильё
          <span class="top-block__heading_span">в новостройке</span>
        </h1>

        <div class="top-block__offer">
          <div class="top-block__item">
            <p class="top-block__title">Сумма кредита</p>
            <p class="top-block__description">до 20 млн рублей</p>
          </div>
          <div class="top-block__item">
            <p class="top-block__title">Первый взнос</p>
            <p class="top-block__description">от 20 %</p>
          </div>
          <div class="top-block__item">
            <p class="top-block__title">Ставка</p>
            <p class="top-block__description">от 7,9 %</p>
          </div>
        </div>

        <div class="top-block__button-container">
          <button class="tertiary-button">Рассчитать ипотеку</button>
        </div>
      </section>
      <!-- top-block -->

      <!-- calculator -->
      <section class="calculator">
        <div class="calculator__nav">
          <a class="calculator__link" href="">Главная</a>
          <a class="calculator__link" href="">Частным лицам</a>
          <a class="calculator__link" href="">Кредит</a>
        </div>
        <h2 class="calculator__heading">Ипотечный калькулятор</h2>

        <div class="calculator__row">
          <div class="calculator__column">
            <!-- primary-radio -->
            <form class="calculator__container">
              <label class="primary-radio__item" for="">
                <input
                  class="primary-radio__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="primary-radio__title">Строящееся жильё</div>
              </label>

              <label class="primary-radio__item" for="">
                <input
                  class="primary-radio__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="primary-radio__title">Готовое жильё</div>
              </label>

              <label class="primary-radio__item" for="">
                <input
                  class="primary-radio__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="primary-radio__title">Рефинансирование</div>
              </label>
            </form>
            <!-- primary-radio -->

            <!-- slider -->
            <div class="calculator__block">
              <p class="calculator__subheading">Стоимость недвижимости</p>

              <div class="calculator__slider">
                <input
                  class="calculator__slider-breaker slider-breaker"
                  type="range"
                  min="1"
                  max="100"
                  id="size"
                  value="50"
                />
                <div class="calculator__titles">
                  <p class="calculator__title">2 000 000 р.</p>
                  <p class="calculator__title">20 000 000 р.</p>
                </div>
              </div>
            </div>
            <!-- slider -->

            <!-- slider -->
            <div class="calculator__block">
              <p class="calculator__subheading">Первоначальный взнос</p>
              <div class="calculator__slider">
                <input
                  class="calculator__slider-breaker slider-breaker"
                  type="range"
                  min="1"
                  max="100"
                  id="size"
                  value="50"
                />
                <div class="calculator__titles">
                  <p class="calculator__title">90 000 р.</p>
                  <p class="calculator__title">1 000 000 р.</p>
                </div>
              </div>
            </div>
            <!-- slider -->

            <!-- slider -->
            <div class="calculator__block">
              <p class="calculator__subheading">Срок кредитования</p>
              <div class="calculator__slider">
                <input
                  class="slider__slider-breaker slider-breaker"
                  type="range"
                  min="1"
                  max="100"
                  id="size"
                  value="50"
                />
                <div class="calculator__titles">
                  <p class="calculator__title">3 года</p>
                  <p class="calculator__title">30 лет</p>
                </div>
              </div>
            </div>
            <!-- slider -->
          </div>
          <div class="calculator__column">
            <div class="calculator__wrapper">
              <!-- checkbox -->
              <label class="calculator__checkbox checkbox" for="">
                <input class="checkbox__field" type="checkbox" атрибуты />
                <p class="calculator__title-checkbox checkbox__title">
                  Использовать мат. капитал
                </p>
              </label>
              <!-- checkbox -->

              <div class="calculator__info-block">
                <div class="calculator__info">
                  <p class="calculator__rate">9 690 450 р.</p>
                  <p class="calculator__title">Сумма кредита</p>
                </div>
                <div class="calculator__info">
                  <p class="calculator__rate">60 820 р.</p>
                  <p class="calculator__title">Ежемесячный платёж</p>
                </div>
                <div class="calculator__info">
                  <p class="calculator__rate">7,9%</p>
                  <p class="calculator__title">Ставка по кредиту</p>
                </div>
              </div>
              <div class="calculator__button-container">
                <button class="calculator__button tertiary-button">
                  Оформить заявку
                </button>
              </div>
            </div>
          </div>
        </div>
        <p class="calculator__clarification">
          Расчет является предварительным. Точные условия по кредиту вам будут
          предоставлены в отделении банка или по телефону после оформления
          заявки.
        </p>
      </section>
      <!-- calculator -->

      <!-- processing -->
      <section class="processing">
        <h1 class="processing__heading">Заявка на ипотечное кредитование</h1>
        <div class="processing__request">
          <div class="processing__container">
            <div class="processing__block">
              <div class="processing__line"></div>

              <div class="processing__steps">
                <div class="processing__stage">
                  <p class="processing__title">Контактная информация</p>
                  <div class="processing__marker"></div>
                </div>
                <div class="processing__stage">
                  <p class="processing__title">Паспорт и доход</p>
                  <div class="processing__marker"></div>
                </div>

                <div class="processing__stage">
                  <p class="processing__title">Выбор удобного офиса</p>
                  <div class="processing__marker"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- processing -->

      <!-- contact -->
      <section class="contact">
        <div class="contact__details">
          <div class="contact__block">
            <p class="contact__title">Фамилия Имя Отчество</p>
            <label class="contact__label">
              <input type="text" autofocus />
            </label>
          </div>

          <div class="contact__block">
            <p class="contact__title">Дата рождения</p>
            <label class="contact__label">
              <input type="text" placeholder="ДД/MM/ГГГГ" />
            </label>
          </div>

          <div class="contact__block">
            <p class="contact__title">Ваш номер телефона</p>
            <label class="contact__label">
              <input type="tel" placeholder="+7 (___) ___ - __ - __" />
            </label>
          </div>

          <div class="contact__block">
            <p class="contact__title">Электронная почта</p>
            <label class="contact__label">
              <input type="email" placeholder="pochta@mail.ru" />
            </label>
          </div>

          <div class="contact__button-container">
            <button class="tertiary-button">Продолжить</button>
          </div>
        </div>
      </section>
      <!-- contact -->

      <!-- request -->
      <section class="request">
        <div class="request__block">
          <div class="request__questions">
            <a class="request__link" href="">Как получить?</a>
            <a class="request__link" href="">Требования</a>
            <a class="request__link" href="">Документы</a>
            <a class="request__link" href="">Как погашать</a>
            <a class="request__link" href="">Залоговая недвижимость</a>
          </div>
          <div class="request__line"></div>
        </div>
        <div class="request__stages">
          <div class="request__phase">
            <p class="request__description">
              Подача заявки и документов - онлайн
            </p>
          </div>
          <div class="request__phase">
            <p class="request__description">Рассмотрение заявки – 1-3 дня</p>
          </div>
          <div class="request__phase">
            <p class="request__description">
              Сумма кредита от 600 тыс рублей до 20 млн рублей
            </p>
          </div>
          <div class="request__phase">
            <p class="request__description">
              Процентная ставка – от 7,9% для строящегося жилья и от 8,39% для
              готового.
            </p>
          </div>
          <div class="request__phase">
            <p class="request__description">
              Страхование риска утраты или повреждения приобретаемой
              недвижимости
            </p>
          </div>
        </div>
      </section>
      <!-- request -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <div class="location__city">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="city">
                      <option class="select__item" value="">Москва</option>
                      <option class="select__item" value="">
                        Санкт Петербург
                      </option>
                      <option class="select__item" value="">Казань</option>
                      <option class="select__item" value="">
                        Нижний Новгород
                      </option>
                      <option class="select__item" value="">Волгоград</option>
                      <option class="select__item" value="">Камышин</option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <div class="location__area">
                <form class="select" action="" method="post">
                  <label>
                    <select class="select__list" name="area">
                      <option class="select__item" value="">Кузминки</option>
                      <option class="select__item" value="">Некрасовка</option>
                      <option class="select__item" value="">Люберцы</option>
                      <option class="select__item" value="">Лефортово</option>
                      <option class="select__item" value="">Дубровка</option>
                      <option class="select__item" value="">
                        Волгоградский проспект
                      </option>
                    </select>
                  </label>
                </form>
              </div>
              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Список</div>
                </label>

                <label class="secondary-radio__item" for="">
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div class="secondary-radio__title">Карта</div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="background-image: url(../assets/images/general/map.jpg)"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Частным лицам</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#"> Кредитование </a>
              </li>
              <li>
                <a class="footer__link" href="#"> Денежные переводы </a>
              </li>
              <li>
                <a class="footer__link" href="#"> Сейфовые ячейки </a>
              </li>
              <li>
                <a class="footer__link" href="#">Ипотека</a>
              </li>
              <li>
                <a class="footer__link" href="#">Вклады</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Бизнесу</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">Кредиты бизнесу</a>
              </li>
              <li>
                <a class="footer__link" href="#">Зарплатные проекты</a>
              </li>
              <li>
                <a class="footer__link" href="#">Тарифы для юр. лиц</a>
              </li>
              <li>
                <a class="footer__link" href="#">Банк - клиент</a>
              </li>
              <li>
                <a class="footer__link" href="#">Гарантии</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-main" href="#"> Финансовым институтам</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">Операции с ценными бумагами</a>
              </li>
              <li>
                <a class="footer__link" href="#">Банкам-контрагентам</a>
              </li>
              <li>
                <a class="footer__link" href="#">Сотрудничество</a>
              </li>
            </div>
          </ul>

          <ul class="footer__column">
            <a class="footer__link-order" href="#">Новости</a>
            <a class="footer__link-main" href="#"> Южный Банк</a>
            <div class="footer__seeing">
              <li>
                <a class="footer__link" href="#">О нас</a>
              </li>
              <li>
                <a class="footer__link" href="#">Офисы и отделения</a>
              </li>

              <li>
                <a class="footer__link" href="#">Реквизиты</a>
              </li>
            </div>
          </ul>

          <div class="footer__column">
            <a class="footer__link-main" href="#"> Контакты</a>
            <div class="footer__block">
              <a class="footer__link" href="#">8 (800) 980 62 62</a>
              <a class="footer__link" href="#">Бесплатный звонок по России</a>
            </div>
            <div class="footer__block">
              <a class="footer__link" href="#">8 (495) 980 60 60</a>

              <a class="footer__link" href="#">Для жителей Москвы и МО</a>
            </div>
            <div class="footer__block">
              <div class="footer__social-groups">
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/facebook01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/instagram01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/twitter01.svg"
                    alt=""
                  />
                </a>
                <a href="#">
                  <img
                    class="footer__icon"
                    src="../assets/icons/whatsapp01.svg"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
