<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/southernMain.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/southernMain/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <!-- поле выбора  -->
          <form
            class="header__select select select_header"
            action=""
            method="post"
          >
            <label class="select__title-header sm-font" for="">
              <select class="select__list-header sm-font" name="">
                <option class="select__item-header sm-font" value="">
                  Частным лицам
                </option>
                <option class="select__item-header sm-font" value="">
                  Кредиты
                </option>
                <option class="select__item-header sm-font" value="">
                  Ипотека
                </option>
                <option class="select__item-header sm-font" value="">
                  Кассовое обслуживание
                </option>
                <option class="select__item-header sm-font" value="">
                  Вклады
                </option>
                <option class="select__item-header sm-font" value="">
                  Денежные переводы
                </option>
              </select>
            </label>
          </form>
          <!-- поле выбора  -->

          <a class="header__link header__link_nav sm-font" href="">Бизнесу</a>
          <a class="header__link header__link_nav sm-font" href="">О банке</a>
          <a class="header__link header__link_nav sm-font" href="">Новости</a>
          <a class="header__link header__link_nav sm-font" href=""
            >Офисы и отделения</a
          >

          <div class="header__authorization">
            <form class="header__form-search" action="">
              <img
                class="header__icon header__icon_search"
                src="../assets/icons/southernMain/searchIcon.svg"
                alt=""
              />
            </form>

            <a class="header__link header__link_login sm-font" href="">
              <img
                class="header__icon header__icon_login"
                src="../assets/icons/southernMain/userIcon.svg"
                alt=""
              />
              <div class="header__login sm-font">Личный кабинет</div>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section
        class="top-block"
        style="background-image: url(../assets/images/southernMain/jetty.jpg)"
      >
        <div class="top-block__body">
          <h1 class="top-block__heading h1-font">
            Отпуск ближе,
            <span class="top-block__heading_span h1-font">чем кажется</span>
          </h1>
          <p class="top-block__offer h2-font">
            Планируете незабываемый отдых? Мы предлагаем оформить кредит
            наличными по специальной ставке от 8 %
          </p>

          <form class="top-block__buttons" action="">
            <button class="top-block__button top-block__button_left">
              Оформить кредит
            </button>
            <button class="top-block__button top-block__button_right">
              Калькулятор
            </button>
          </form>
        </div>
      </section>
      <!-- top-block -->

      <!-- offer -->
      <section class="offer">
        <div class="offer__container">
          <div class="offer__row">
            <div class="offer__column">
              <div class="offer__wrapper">
                <div class="offer__rate">
                  <p class="offer__title h2-font">Кредит</p>
                  <p class="h1-font">от 8 %</p>
                </div>

                <p class="offer__description md-font">
                  Планируйте покупки, а о деньгах позаботимся мы
                </p>
                <a class="offer__link-arrow" href="">
                  <img
                    src="../assets/icons/southernMain/polygonGreen6.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="offer__box-link">
                <a class="offer__link md-font" href="">Подробнее</a>
              </div>
            </div>
            <div class="offer__column">
              <div class="offer__wrapper">
                <div class="offer__rate">
                  <p class="offer__title h2-font">Ипотека</p>
                  <p class="h1-font">от 7,9 %</p>
                </div>

                <p class="offer__description md-font">
                  Чем больше метров, тем ниже Ваша ставка
                </p>
                <a class="offer__link-arrow" href="">
                  <img
                    src="../assets/icons/southernMain/polygonGreen6.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="offer__box-link">
                <a class="offer__link md-font" href="">Подробнее</a>
              </div>
            </div>
            <div class="offer__column">
              <div class="offer__wrapper">
                <div class="offer__rate">
                  <p class="offer__title h2-font">Вклады</p>
                  <p class="h1-font">до 7 %</p>
                </div>

                <p class="offer__description md-font">
                  Самый высокий доход по накопительному счёту
                </p>
                <a class="offer__link-arrow" href="">
                  <img
                    src="../assets/icons/southernMain/polygonGreen6.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="offer__box-link">
                <a class="offer__link md-font" href="">Подробнее</a>
              </div>
            </div>
            <div class="offer__column">
              <div class="offer__wrapper">
                <div class="offer__rate">
                  <p class="offer__title h2-font">Переводы</p>
                  <p class="h1-font">от 1 %</p>
                </div>

                <p class="offer__description md-font">
                  Легкий и быстрый перевод по всему миру
                </p>
                <a class="offer__link-arrow" href="">
                  <img
                    src="../assets/icons/southernMain/polygonGreen6.svg"
                    alt=""
                  />
                </a>
              </div>
              <div class="offer__box-link">
                <a class="offer__link md-font" href="">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- offer -->

      <!-- news -->
      <section class="news">
        <h1 class="news__heading h1-font">Новости</h1>
        <div class="news__container">
          <div class="course-currency__column course-currency">
            <p class="course-currency__title h2-font">Курсы валют</p>
            <p class="course-currency__time sm-font">На 10.03.2020, 20:00</p>
            <div class="course-currency__price">
              <p class="course-currency__price_item sm-font">USD</p>
              <p class="course-currency__price_item sm-font">70,25</p>
              <div class="course-currency__price_sector">
                <p class="course-currency__price_item sm-font">70,50</p>
                <img
                  class="course-currency__price_icon"
                  src="../assets/icons/southernMain/polygon4.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="course-currency__price sm-font">
              <p class="course-currency__price_item sm-font">EUR</p>
              <p class="course-currency__price_item sm-font">80,25</p>
              <div class="course-currency__price_sector">
                <p class="course-currency__price_item sm-font">83,70</p>

                <img
                  class="course-currency__price_icon"
                  src="../assets/icons/southernMain/polygon4.svg"
                  alt=""
                />
              </div>
            </div>
            <a class="course-currency__link sm-font" href="">Посмотреть все</a>
            <p class="course-currency__title h2-font">Драгоценные металлы</p>
            <p class="course-currency__time sm-font">На 10.03.2020, 20:00</p>
            <div class="course-currency__price sm-font">
              <p class="course-currency__price_item sm-font">Золото</p>
              <p class="course-currency__price_item sm-font">
                3 739,50 / 3 939,10
              </p>
            </div>
            <div class="course-currency__price sm-font">
              <p class="course-currency__price_item sm-font">Серебро</p>
              <p class="course-currency__price_item sm-font">38,07 / 40,13</p>
            </div>
            <a class="course-currency__link sm-font" href="">Посмотреть все</a>
          </div>
          <div class="news__tape">
            <a></a>
            <a href="" class="news__block">
              <div
                class="news__image"
                style="
                  background-image: url(../assets/images/southernMain/rectangle10.jpg);
                "
              ></div>
              <div class="news__sector">
                <p class="news__description sm-font">
                  Южный Банк сообщает об изменении режима работы в связи с
                  празднованием Международного женского дня
                </p>
                <p class="news__date sm-font">07.03.20</p>
              </div>
            </a>
            <a href="" class="news__block">
              <div
                class="news__image"
                style="
                  background-image: url(../assets/images/southernMain/rectangle11.jpg);
                "
              ></div>
              <div class="news__sector">
                <p class="news__description sm-font">
                  Южный Банк поддержит финансово строительство школы в
                  Калинограде
                </p>
                <p class="news__date sm-font">05.03.20</p>
              </div>
            </a>
          </div>
          <div class="news__tape">
            <a href="" class="news__block">
              <div
                class="news__image"
                style="
                  background-image: url(../assets/images/southernMain/rectangle12.jpg);
                "
              ></div>
              <div class="news__sector">
                <p class="news__description sm-font">
                  Южный Банк снижает ставки по кредитам наличными до 7,5%
                </p>
                <p class="news__date sm-font">05.03.20</p>
              </div>
            </a>
            <a href="" class="news__block">
              <div
                class="news__image"
                style="
                  background-image: url(../assets/images/southernMain/rectangle13.jpg);
                "
              ></div>
              <div class="news__sector">
                <p class="news__description sm-font">
                  Южный Банк размещает однодневные облигации
                </p>
                <p class="news__date sm-font">03.03.20</p>
              </div>
            </a>
          </div>
        </div>
        <!-- pointer -->
        <a class="news__pointer pointer" href="">
          <div
            class="pointer__circle"
            style="
              background-image: url(../assets/icons/southernMain/ellipse6.svg);
            "
          >
            <img
              class="pointer__arrow"
              src="../assets/icons/southernMain/polygon6.svg"
              alt=""
            />
          </div>
          <img
            class="pointer__more"
            src="../assets/icons/southernMain/esho.svg"
            alt=""
          />
        </a>
        <!-- pointer -->
      </section>
      <!-- news -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading h2-font-h1">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <form class="select select_city" action="" method="post">
                <label class="select__title x-sm-font" for="">
                  <select class="select__list" name="city">
                    <option class="select__item" value="">Москва</option>
                    <option class="select__item" value="">
                      Санкт Петербург
                    </option>
                    <option class="select__item" value="">Казань</option>
                    <option class="select__item" value="">
                      Нижний Новгород
                    </option>
                    <option class="select__item" value="">Волгоград</option>
                    <option class="select__item" value="">Камышин</option>
                  </select>
                </label>
              </form>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <form class="select select_area" action="" method="post">
                <label class="select__title x-sm-font" for="">
                  <select class="select__list" name="area">
                    <option class="select__item" value="">Кузминки</option>
                    <option class="select__item" value="">Некрасовка</option>
                    <option class="select__item" value="">Люберцы</option>
                    <option class="select__item" value="">Лефортово</option>
                    <option class="select__item" value="">Дубровка</option>
                    <option class="select__item" value="">
                      Волгоградский проспект
                    </option>
                  </select>
                </label>
              </form>
              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label
                  class="secondary-radio__item secondary-radio__item_left"
                  for=""
                >
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div
                    class="secondary-radio__title secondary-radio__title_left sm-font"
                  >
                    Список
                  </div>
                </label>

                <label
                  class="secondary-radio__item secondary-radio__item_right"
                  for=""
                >
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div
                    class="secondary-radio__title secondary-radio__title_right sm-font"
                  >
                    Карта
                  </div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address sm-font">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address sm-font">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address sm-font">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address sm-font">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title md-font">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="
                  background-image: url(../assets/images/southernGeneral/map.jpg);
                "
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Частным лицам</a>
            <li>
              <a class="footer__link footer__link_minor" href="">
                Кредитование
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_minor" href="">
                Денежные переводы
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_minor" href="">
                Сейфовые ячейки
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_minor" href="">Ипотека</a>
            </li>
            <li>
              <a class="footer__link footer__link_minor" href="">Вклады</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Бизнесу</a>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Кредиты бизнесу</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Зарплатные проекты</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Тарифы для юр. лиц</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банк - клиент</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Гарантии</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main-hidden" href="">
              Финансовым институтам</a
            >
            <a class="footer__link footer__link_main-visible" href=""
              >Новости</a
            >
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Операции с ценными бумагами</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банкам-контрагентам</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Сотрудничество</a
              >
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Южный Банк</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">О нас</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Офисы и отделения</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Новости</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Реквизиты</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Контакты</a>
            <div class="footer__visible">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (800) 980 62 62</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Бесплатный звонок по России</a
                >
              </li>
            </div>
            <div class="footer__hidden">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (495) 980 60 60</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Для жителей Москвы и МО</a
                >
              </li>
            </div>
            <li class="footer__order">
              <div class="footer__social-groups">
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/facebook01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/instagram01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/twitter01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/facebook01.svg"
                  alt=""
                />
              </div>
            </li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
