<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/typography.css" />
    <link rel="stylesheet" href="../styles/css/southernСredit.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <!-- header -->
      <header class="header">
        <div class="header__row">
          <div class="header__left">
            <div class="header__lines">
              <div class="header__line"></div>
              <div class="header__line"></div>
              <div class="header__line"></div>
            </div>
            <img
              class="header__logo"
              src="../assets/logotype/southernMain/logotypeSouthern.svg"
              alt=""
            />
          </div>

          <!-- поле выбора  -->
          <form
            class="header__select select select_header"
            action=""
            method="post"
          >
            <label class="select__title-header sm-font" for="">
              <select class="select__list-header sm-font" name="">
                <option class="select__item-header sm-font" value="">
                  Частным лицам
                </option>
                <option class="select__item-header sm-font" value="">
                  Кредиты
                </option>
                <option class="select__item-header sm-font" value="">
                  Ипотека
                </option>
                <option class="select__item-header sm-font" value="">
                  Кассовое обслуживание
                </option>
                <option class="select__item-header sm-font" value="">
                  Вклады
                </option>
                <option class="select__item-header sm-font" value="">
                  Денежные переводы
                </option>
              </select>
            </label>
          </form>
          <!-- поле выбора  -->

          <a class="header__link header__link_nav sm-font" href="">Бизнесу</a>
          <a class="header__link header__link_nav sm-font" href="">О банке</a>
          <a class="header__link header__link_nav sm-font" href="">Новости</a>
          <a class="header__link header__link_nav sm-font" href=""
            >Офисы и отделения</a
          >

          <div class="header__authorization">
            <form class="header__form-search" action="">
              <img
                class="header__icon header__icon_search"
                src="../assets/icons/southernMain/searchIcon.svg"
                alt=""
              />
            </form>

            <a class="header__link header__link_login sm-font" href="">
              <img
                class="header__icon header__icon_login"
                src="../assets/icons/southernMain/userIcon.svg"
                alt=""
              />
              <div class="header__login sm-font">Личный кабинет</div>
            </a>
          </div>
        </div>
      </header>
      <!-- header -->

      <!-- top-block -->
      <section
        class="top-block"
        style="
          background-image: url(../assets/images/southernMain/southernCredit.jpg);
        "
      >
        <h1 class="top-block__heading">
          Кредит наличными
          <span class="top-block__heading_span">на любые цели</span>
        </h1>

        <div class="top-block__offer">
          <div class="top-block__item">
            <p class="top-block__title">Сумма кредита</p>
            <p class="top-block__description">до 2 млн руб</p>
          </div>
          <div class="top-block__item">
            <p class="top-block__title">Срок</p>
            <p class="top-block__description">от 1 года до 5 лет</p>
          </div>
          <div class="top-block__item">
            <p class="top-block__title">Ставка</p>
            <p class="top-block__description">от 8 %</p>
          </div>
        </div>

        <form class="top-block__buttons" action="">
          <button class="tertiary-button">Оформить кредит</button>
        </form>
      </section>
      <!-- top-block -->

      <!-- calculator -->
      <section class="calculator">
        <div class="calculator__nav">
          <p class="calculator__nav-link sm-font">Главная</p>
          <p class="calculator__nav-link sm-font">Частным лицам</p>
          <p class="calculator__nav-item sm-font">Кредит</p>
        </div>
        <h2 class="calculator__heading sm-font">Кредитный калькулятор</h2>

        <div class="calculator__row">
          <div class="calculator__column calculator__column_left">
            <!-- primary-radio -->
            <form class="calculator__primary-radio primary-radio__container">
              <label class="primary-radio__item" for="">
                <input
                  class="primary-radio__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="primary-radio__title sm-font">Кредит</div>
              </label>

              <label class="primary-radio__item" for="">
                <input
                  class="primary-radio__field"
                  type="radio"
                  name="browser"
                  value="ie"
                />
                <div class="primary-radio__title sm-font">Рефинансирование</div>
              </label>
            </form>
            <!-- primary-radio -->

            <!-- slider -->
            <div class="slider__block">
              <p class="slider__subheading md-font">Сумма кредита</p>

              <div class="slider">
                <input
                  class="slider__range"
                  type="range"
                  min="1"
                  max="100"
                  id="size"
                  value="50"
                />
                <div class="slider__title">
                  <p class="slider__title_item">90 000 р.</p>
                  <p class="slider__title_item">2 000 000 р.</p>
                </div>
              </div>
            </div>
            <!-- slider -->

            <!-- slider -->
            <div class="slider__block">
              <p class="slider__subheading md-font">Срок кредита</p>
              <div class="slider">
                <input
                  class="slider__range"
                  type="range"
                  min="1"
                  max="100"
                  id="size"
                  value="50"
                />
                <div class="slider__title">
                  <p class="slider__title_item">1 год</p>
                  <p class="slider__title_item">5 лет</p>
                </div>
              </div>
            </div>
            <!-- slider -->
            <p class="calculator__clarification calculator__clarification_top">
              Расчет является предварительным. Точные условия по кредиту вам
              будут предоставлены в отделении банка или по телефону после
              оформления заявки.
            </p>
          </div>
          <div class="calculator__column calculator__column_right">
            <div class="calculator__wrapper">
              <!-- checkbox -->
              <label class="calculator__checkbox checkbox" for="">
                <input class="checkbox__field" type="checkbox" атрибуты />
                <p class="checkbox__title">Со страховкой</p>
                <div class="checkbox__after">
                  <p class="checkbox__after-item">i</p>
                </div>
              </label>
              <!-- checkbox -->

              <div class="calculator__info-block">
                <div class="calculator__info">
                  <p class="calculator__rate h1-font">60 820 р.</p>
                  <p class="calculator__title md-font">Ежемесячный платёж</p>
                </div>
                <div class="calculator__info">
                  <p class="calculator__rate h1-font">8%</p>
                  <p class="calculator__title md-font">Ставка по кредиту</p>
                </div>
              </div>
              <form class="calculator__buttons" action="">
                <button class="calculator__button tertiary-button">
                  Оформить заявку
                </button>
              </form>
              <p
                class="calculator__clarification calculator__clarification_bottom"
              >
                Расчет является предварительным. Точные условия по кредиту вам
                будут предоставлены в отделении банка или по телефону после
                оформления заявки.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- calculator -->

      <!-- processing -->
      <section class="processing">
        <h1 class="processing__heading h1-font">Заявка на кредит наличными</h1>
        <div class="processing__request">
          <div class="processing__container">
            <div class="processing__block">
              <div class="processing__line"></div>

              <div class="processing__steps">
                <div class="processing__stage">
                  <p class="processing__title">Контактная информация</p>
                  <div class="processing__marker"></div>
                </div>
                <div class="processing__stage">
                  <p class="processing__title">Персональные данные</p>
                  <div class="processing__marker"></div>
                </div>

                <div class="processing__stage">
                  <p class="processing__title">Работа и доходы</p>
                  <div class="processing__marker"></div>
                </div>
                <div class="processing__stage">
                  <p class="processing__title">Условия кредита</p>
                  <div class="processing__marker"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- processing -->

      <!-- contact -->
      <section class="contact">
        <div class="contact__details">
          <!-- input-border -->
          <p class="contact__title sm-font">Фамилия Имя Отчество</p>
          <label class="contact__input input-border" for="">
            <input class="input-border__field" type="text" autofocus />
          </label>
          <!-- input-border -->
          <!-- input-border -->
          <p class="contact__title sm-font">Дата рождения</p>
          <label class="contact__field input-border" for="">
            <input
              class="input-border__field"
              type="text"
              placeholder="ДД/MM/ГГГГ"
            />
          </label>
          <!-- input-border -->
          <!-- input-border -->
          <p class="contact__title sm-font">Ваш номер телефона</p>
          <label class="contact__field input-border" for="">
            <input
              class="input-border__field"
              type="tel"
              placeholder="+7 (___) ___ - __ - __"
            />
          </label>
          <!-- input-border -->
          <!-- input-border -->
          <p class="contact__title sm-font">Электронная почта</p>
          <label class="contact__field input-border" for="">
            <input
              class="input-border__field"
              type="email"
              placeholder="pochta@mail.ru"
            />
          </label>
          <!-- input-border -->

          <form class="contact__buttons" action="">
            <button class="contact__button tertiary-button">Продолжить</button>
          </form>
        </div>
      </section>
      <!-- contact -->

      <!-- request -->
      <section class="request">
        <div class="request__questions-block">
          <div class="request__questions">
            <p class="request__question md-font">Как получить?</p>
            <p class="request__question md-font">Условия</p>
            <p class="request__question md-font">Документы</p>
            <p class="request__question md-font">Как погашать</p>
            <p class="request__question md-font">Преимущества</p>
          </div>
          <div class="request__line"></div>
        </div>
        <div class="request__stages">
          <div class="request__phase">
            <div class="request__circle">
              <p class="request__number h1-font">1</p>
            </div>
            <p class="request__description md-font">
              Заполните заявку на сайте или в отделении банка
            </p>
          </div>
          <div class="request__phase">
            <div class="request__circle">
              <p class="request__number h1-font">2</p>
            </div>
            <p class="request__description md-font">
              Дождитесь ответа и подготовьте пакет документов
            </p>
          </div>
          <div class="request__phase">
            <div class="request__circle">
              <p class="request__number h1-font">3</p>
            </div>
            <p class="request__description md-font">
              Приходите в отделение и получите деньги
            </p>
          </div>
        </div>
        <div class="request__line-bootom"></div>
        <div class="request__make-block">
          <div class="request__make">
            <div class="request__offer">
              <p class="request__now md-font">Оформите заявку прямо сейчас</p>
              <p class="request__time sm-font">
                Заполнение заявки займёт не более 5 минут
              </p>
            </div>
            <div class="request__buttons">
              <button class="request__button tertiary-button">
                Оформить кредит
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- request -->

      <!-- location -->
      <section class="location">
        <h1 class="location__heading h2-font-h1">Офисы и отделения</h1>
        <div class="location__container">
          <div class="location__list">
            <div class="location__sector-select">
              <!-- поле выбора  -->
              <form class="select select_city" action="" method="post">
                <label class="select__title x-sm-font" for="">
                  <select class="select__list" name="city">
                    <option class="select__item" value="">Москва</option>
                    <option class="select__item" value="">
                      Санкт Петербург
                    </option>
                    <option class="select__item" value="">Казань</option>
                    <option class="select__item" value="">
                      Нижний Новгород
                    </option>
                    <option class="select__item" value="">Волгоград</option>
                    <option class="select__item" value="">Камышин</option>
                  </select>
                </label>
              </form>
              <!-- поле выбора  -->

              <!-- поле выбора  -->
              <form class="select select_area" action="" method="post">
                <label class="select__title x-sm-font" for="">
                  <select class="select__list" name="area">
                    <option class="select__item" value="">Кузминки</option>
                    <option class="select__item" value="">Некрасовка</option>
                    <option class="select__item" value="">Люберцы</option>
                    <option class="select__item" value="">Лефортово</option>
                    <option class="select__item" value="">Дубровка</option>
                    <option class="select__item" value="">
                      Волгоградский проспект
                    </option>
                  </select>
                </label>
              </form>
              <!-- поле выбора  -->

              <!-- переключатель secondary-radio -->
              <div class="location__radio secondary-radio">
                <label
                  class="secondary-radio__item secondary-radio__item_left"
                  for=""
                >
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div
                    class="secondary-radio__title secondary-radio__title_left sm-font"
                  >
                    Список
                  </div>
                </label>

                <label
                  class="secondary-radio__item secondary-radio__item_right"
                  for=""
                >
                  <input
                    class="secondary-radio__field"
                    type="radio"
                    name="browser"
                    value="ie"
                  />
                  <div
                    class="secondary-radio__title secondary-radio__title_right sm-font"
                  >
                    Карта
                  </div>
                </label>
              </div>
              <!-- переключатель secondary-radio -->
            </div>
            <p class="location__address sm-font">
              Партийный переулок д. 1, корп.7, стр. 2 <br />
              Ближайшие станции метро: <br />
              Добрынинская, Серпуховская <br />
              Телефон: +7(495) 664-73-44, <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address sm-font">
              Большая Ордынка, д. 52 <br />
              Ближайшие станции метро: <br />
              Полянка, Третьяковская <br />
              Телефон: +7(495) 725-59-51 <br />
              Режим работы офиса: <br />
              Пн - Пт: 9.30 - 17.30
            </p>
            <p class="location__address sm-font">
              Ленинградский проспект, д. 80, корп. 16, 1 <br />
              этаж, 3 подъезд, пом I, оф.№№9-29 <br />
              Ближайшая станция метро: Сокол <br />
              Телефон: +7(495) 956-18-96 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
            </p>
            <p class="location__address sm-font">
              тер. Внуково Аэропорт, д. 1, стр. 19 <br />
              (здание Почтово-грузового комплекса) <br />
              Телефон: +7(495) 956-17-34 <br />
              Режим работы офиса: <br />
              Пн - Чт: 9.30 - 17.30
            </p>
          </div>
          <div class="location__map-container">
            <p class="location__map-title md-font">На карте</p>
            <div class="location__map-block">
              <div
                class="location__map"
                style="
                  background-image: url(../assets/images/southernGeneral/map.jpg);
                "
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- location -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__body">
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Частным лицам</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Кредитование
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Денежные переводы
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">
                Сейфовые ячейки
              </a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Ипотека</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Вклады</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Бизнесу</a>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Кредиты бизнесу</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Зарплатные проекты</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Тарифы для юр. лиц</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банк - клиент</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Гарантии</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main-hidden" href="">
              Финансовым институтам</a
            >
            <a class="footer__link footer__link_main-visible" href=""
              >Новости</a
            >
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Операции с ценными бумагами</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Банкам-контрагентам</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Сотрудничество</a
              >
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Южный Банк</a>
            <li>
              <a class="footer__link footer__link_hidden" href="">О нас</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href=""
                >Офисы и отделения</a
              >
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Новости</a>
            </li>
            <li>
              <a class="footer__link footer__link_hidden" href="">Реквизиты</a>
            </li>
          </ul>
          <ul class="footer__column">
            <a class="footer__link footer__link_main" href=""> Контакты</a>
            <div class="footer__visible">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (800) 980 62 62</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Бесплатный звонок по России</a
                >
              </li>
            </div>
            <div class="footer__hidden">
              <li>
                <a class="footer__link footer__link_minor" href=""
                  >8 (495) 980 60 60</a
                >
              </li>

              <li>
                <a class="footer__link footer__link_low" href=""
                  >Для жителей Москвы и МО</a
                >
              </li>
            </div>
            <li class="footer__order">
              <div class="footer__social-groups">
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/facebook01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/instagram01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/twitter01.svg"
                  alt=""
                />
                <img
                  class="footer__icon"
                  src="../assets/icons/southernMain/facebook01.svg"
                  alt=""
                />
              </div>
            </li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </main>
  </body>
</html>
