// header
.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;

    @media screen and (min-width: 1025px) {
      margin-left: 72px;
      margin-right: 72px;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lines {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    margin-right: 22px;

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__line {
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: #617e8c;
  }

  &__logo {
    width: 139px;
    height: 28px;
    margin: 18.5px 0;
  }

  &__column {
    position: relative;
    display: inline-block;
    display: none;

    &:hover .header__content {
      display: block;
    }

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__content {
    display: none;
    position: absolute;
    min-width: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  &__drop-down {
    font-size: 13px;

    @media screen and (min-width: 1024px) {
      font-size: 14px;
    }

    &:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    padding: 6px 8px;
    display: block;
    font-size: 11px;
    text-decoration: none;

    @media screen and (min-width: 1024px) {
      font-size: 13px;
    }

    &:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &__link-main {
    font-size: 13px;
    text-decoration: none;

    @media screen and (min-width: 1024px) {
      font-size: 14px;
    }

    &:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &__auth {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 576px) {
      width: 186px;
    }
  }

  &__link-login {
    font-size: 11px;
    color: #28323c;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    @media screen and (min-width: 1024px) {
      font-size: 13px;
    }
  }

  &__icon-search {
    width: 20px;
    height: 20px;
    margin-right: 32px;

    @media screen and (min-width: 576px) {
      margin-right: 24px;
    }
  }

  &__icon-login {
    width: 20px;
    height: 20px;
    margin-right: 0;

    @media screen and (min-width: 576px) {
      margin-right: 24px;
    }
  }

  &__login {
    font-size: 13px;
    display: none;

    &:hover {
      background-color: #ddd;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 576px) {
      display: block;
    }
  }
}
// header

// location
.location {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px 16px;
  background: #f2f7fb;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 40px 72px 56px;
  }

  &__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 767px) {
      font-size: 34px;
      line-height: 48px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    width: 272px;

    @media screen and (min-width: 375px) {
      width: 327px;
    }
  }

  &__sector-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @media screen and (min-width: 576px) {
      max-width: 80%;
    }
  }

  &__city {
    max-width: 69px;

    @media screen and (min-width: 576px) {
      max-width: 40%;
    }
  }

  &__area {
    max-width: 75px;

    @media screen and (min-width: 576px) {
      max-width: 40%;
    }
  }

  &__address {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    &::before {
      content: url(../../assets/icons/mapsFlags.svg);
      position: relative;
      top: 4px;
      left: -1px;
    }
  }

  &__map-container {
    width: calc(100% - 327px);
    height: 624px;
    background-position: center center;
    background-size: cover;
    display: none;

    @media screen and (min-width: 576px) {
      display: block;
    }
  }

  &__map-title {
    margin-bottom: 16px;
  }

  &__map-block {
    width: 100%;
    overflow-x: scroll;

    @media screen and (min-width: 1440px) {
      overflow-x: hidden;
    }
  }

  &__map {
    width: 969px;
    height: 624px;
    background-position: center center;
    background-size: cover;
  }
}
// location

// secondary-radio
.secondary-radio {
  width: 100%;
  max-width: 132px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 576px) {
    display: none;
  }

  &__item {
    width: 50%;
    cursor: pointer;
    padding: 7px 12px;
    box-sizing: border-box;

    &:first-child {
      background-color: #15499f;
      border: 1px solid #15499f;
      border-radius: 8px 0 0 8px;
    }

    &:first-child .secondary-radio__title {
      color: #f2f7fb;
    }

    &:last-child {
      background-color: white;
      border: 1px solid black;
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.2s linear;
    }

    &:active {
      border: 2px;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-size: 13px;
    line-height: 24px;
  }
}
// secondary-radio

// footer
.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 0;
  background: #ffffff;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 40px 72px 16px;
  }

  &__body {
    width: 100%;
    flex: none;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0px;
    position: relative;

    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }

    &:nth-child(1) {
      min-width: 200px;
    }

    &:nth-child(2) {
      min-width: 200px;
    }

    &:nth-child(3) {
      min-width: 270px;
    }

    &:nth-child(4) {
      min-width: 135px;
      margin-bottom: 32px;

      @media screen and (min-width: 1299px) {
        min-width: 200px;
      }
    }

    &:nth-child(5) {
      width: 100%;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (min-width: 576px) {
        justify-content: flex-start;
      }

      @media screen and (min-width: 1299px) {
        min-width: 208px;
        max-width: 232px;
        flex-direction: column;
      }

      & a.footer__link-main {
        display: none;

        @media screen and (min-width: 1299px) {
          display: block;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-size: 14px;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  &__link-main {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    order: 0;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }

  &__link-order {
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    order: -1;

    @media screen and (min-width: 1024px) {
      font-weight: normal;
      font-size: 18px;
      order: 3;
    }
  }

  &__seeing {
    width: 100%;
    max-width: 272px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(62, 62, 69, 0.15);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

    &:hover {
      display: block;
    }

    @media screen and (min-width: 1024px) {
      max-width: 100%;
      display: block;
      box-shadow: none;
    }
  }

  &__block {
    &:nth-child(2) {
      width: 155px;
      order: 2;

      & li:nth-child(1) a {
        margin-bottom: 0;

        @media screen and (min-width: 1299px) {
          margin-bottom: 16px;
        }
      }

      @media screen and (min-width: 576px) {
        min-width: 232px;
      }

      @media screen and (min-width: 1299px) {
        min-width: 232px;
        order: 1;
      }
    }

    &:nth-child(3) {
      display: none;

      @media screen and (min-width: 1299px) {
        display: block;
        order: 2;
      }
    }

    &:nth-child(4) {
      order: 1;

      @media screen and (min-width: 1299px) {
        order: 3;
      }
    }

    & .footer__link:nth-child(1) {
      margin-bottom: 0;

      @media screen and (min-width: 1024px) {
        margin-bottom: 16px;
      }
    }

    & .footer__link:nth-child(2) {
      color: #acadb1;
      font-size: 11px;
      font-weight: normal;

      @media screen and (min-width: 1024px) {
        font-size: 14px;
        margin-bottom: 16px;
      }
    }
  }

  &__social-groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96px;
    height: 24px;

    @media screen and (min-width: 375px) {
      justify-content: space-between;
      width: 147.5px;
    }

    @media screen and (min-width: 576px) {
      min-width: 222px;
      margin-right: 63px;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;

    @media screen and (min-width: 375px) {
      width: 24px;
      height: 24px;
    }
  }
}
// footer
