.main {
  min-height: 110vh;
}

// header
.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;

    @media screen and (min-width: 1025px) {
      margin-left: 72px;
      margin-right: 72px;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lines {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    margin-right: 22px;

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__line {
    width: 26px;
    height: 2px;
    border-radius: 2px;
    background-color: #617e8c;
  }

  &__logo {
    width: 139px;
    height: 28px;
    margin: 18.5px 0;
  }

  &__select {
    display: none;

    @media screen and (min-width: 1025px) {
      display: block;
    }
  }

  &__link {
    text-decoration: none;

    &_nav {
      display: none;

      @media screen and (min-width: 1025px) {
        display: block;
      }
    }

    &_login {
      display: flex;
      justify-content: space-between;
    }
  }

  &__authorization {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 576px) {
      width: 186px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    &_search {
      margin-right: 32px;

      @media screen and (min-width: 576px) {
        margin-right: 24px;
      }
    }

    &_login {
      margin-right: 0;

      @media screen and (min-width: 576px) {
        margin-right: 24px;
      }
    }
  }

  &__login {
    display: none;

    @media screen and (min-width: 576px) {
      display: block;
    }
  }
}
// header

// select header
.select {
  width: 100%;

  &_header {
    max-width: 132px;
  }

  &__list-header {
    width: 100%;
  }

  &__item-header {
    width: 100%;
  }
}
// select

// top-block
.top-block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 415px;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 767px) {
    height: 438px;
  }

  @media screen and (min-width: 1024px) {
    height: 585px;
  }

  @media screen and (min-width: 1299px) {
    height: 742px;
  }

  @media screen and (min-width: 1440px) {
    height: 823px;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;

    @media screen and (min-width: 767px) {
      padding-left: 72px;
    }
  }

  &__heading {
    font-weight: bold;
    color: white;
    margin-bottom: 24px;

    &_span {
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      display: block;

      @media screen and (min-width: 576px) {
        display: inline;
      }
    }
  }

  &__offer {
    width: 100%;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;

    @media screen and (min-width: 767px) {
      max-width: 655px;
    }

    @media screen and (min-width: 1024px) {
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__button {
    cursor: pointer;
    min-width: 219px;
    padding: 16px 12px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #50287d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: white;
    text-align: center;

    &:hover {
      border: 2px solid #50287d;
      box-shadow: 2px 2px 2px 2px #50287d;
    }

    &_left {
      margin-right: 16px;
      background-color: #50287d;
      color: white;
    }

    &_right {
      display: none;

      @media screen and (min-width: 576px) {
        display: block;
      }
    }
  }
}
// top-block

// offer
.offer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 24px;
  background: #f2f7fb;

  @media screen and (min-width: 1024px) {
    padding: 64px 72px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  &__row {
    margin-left: -8px;
    margin-right: -8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;

    @media screen and (min-width: 576px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (min-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 25%;
      max-width: 25%;
    }

    &:hover {
      box-shadow: 0px 12px 24px rgba(213, 224, 235, 0.25);
      transform: scale(1.02);
      opacity: 0.7;
    }

    &:active .offer__box-link {
      background-color: #14988b;
    }

    &:active .offer__link {
      color: white;
    }
  }

  &__wrapper {
    width: 100%;
    padding: 24px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 767px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__rate {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__description {
    display: none;

    @media screen and (min-width: 767px) {
      display: block;
    }
  }

  &__link-arrow {
    display: block;
    flex: none;

    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  &__box-link {
    display: none;
    padding: 15px 24px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-top: none;

    @media screen and (min-width: 767px) {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    color: #14988b;
  }
}
// offer

// news
.news {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 24px;
  background: #e5e5e5;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 40px 72px 48px;
  }

  &__heading {
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;

    @media screen and (min-width: 1299px) {
      overflow-x: hidden;
    }
  }

  &__tape {
    min-width: 422px;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__block {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    &:hover {
      transform: scale(1.02);
      opacity: 0.7;
    }
  }

  &__image {
    width: 203px;
    height: 184px;
    margin-right: 16px;
    background-size: cover;
    background-position: center center;
  }

  &__sector {
    width: 203px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    color: #2f2f34;
  }

  &__date {
    color: #90a4af;
  }

  &__pointer {
    position: absolute;
    top: 309px;
    right: 18px;
  }
}
// news

// course-currency
.course-currency {
  min-width: 219px;
  margin-right: 25px;

  @media screen and (min-width: 767px) {
    margin-right: 109px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__time {
    margin-bottom: 16px;
    color: #acadb1;
  }

  &__price {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    &_item {
      color: #2f2f34;
    }

    &_sector {
      width: 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__icon {
      width: 8px;
      height: 8px;
    }
  }

  &__link {
    margin-bottom: 16px;
    text-decoration: none;
    display: block;
    color: #15499f;

    &:hover {
      transform: scaleY(1.1);
    }
  }
}
// course-currency

// pointer
.pointer {
  width: 48px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;

  @media screen and (min-width: 576px) {
    display: block;
  }

  &:hover .pointer__circle {
    transform: scale(1.05) rotate(360deg);
    opacity: 0.7;
    transition: all 0.2s linear;
  }

  &__circle {
    width: 36px;
    height: 36px;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__arrow {
    width: 6px;
    height: 12px;
  }

  &__more {
    width: 48px;
    height: 24px;
  }
}
// pointer

// location
.location {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px 16px;
  background: #f2f7fb;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 40px 72px 56px;
  }

  &__heading {
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    width: 272px;

    @media screen and (min-width: 375px) {
      width: 327px;
    }
  }

  &__sector-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @media screen and (min-width: 576px) {
      max-width: 80%;
    }
  }

  &__address {
    width: 100%;
    margin-bottom: 16px;
    position: relative;

    &::before {
      content: url(../../assets/icons/southernMain/mapsFlags.svg);
      position: relative;
      top: 4px;
      left: -1px;
    }
  }

  &__map-container {
    width: calc(100% - 327px);
    height: 624px;
    background-position: center center;
    background-size: cover;
    display: none;

    @media screen and (min-width: 576px) {
      display: block;
    }
  }

  &__map-title {
    color: #2f2f34;
    margin-bottom: 16px;
  }

  &__map-block {
    width: 100%;
    overflow-x: scroll;

    @media screen and (min-width: 1440px) {
      overflow-x: hidden;
    }
  }

  &__map {
    width: 969px;
    height: 624px;
    background-position: center center;
    background-size: cover;
  }
}
// location

// select
.select {
  width: 100%;

  &_city {
    max-width: 69px;

    @media screen and (min-width: 576px) {
      max-width: 40%;
    }
  }

  &_area {
    max-width: 75px;

    @media screen and (min-width: 576px) {
      max-width: 40%;
    }
  }

  &__list {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #28323c;

    @media screen and (min-width: 576px) {
      font-size: 13px;
    }
  }

  &__hidden {
    line-height: 0px;
  }

  &__item {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #28323c;

    @media screen and (min-width: 576px) {
      font-size: 13px;
    }
  }
}
// select

// secondary-radio
.secondary-radio {
  width: 100%;
  max-width: 132px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 576px) {
    display: none;
  }

  &__item {
    width: 50%;
    cursor: pointer;
    padding: 7px 12px;
    box-sizing: border-box;

    &_left {
      background-color: #15499f;
      border: 1px solid #15499f;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }

    &_right {
      background-color: white;
      border: 1px solid black;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.2s linear;
    }

    &:active {
      border: 2px;
    }
  }

  &__field {
    display: none;
  }

  &__title {
    font-weight: normal;

    &_left {
      color: white;
    }
  }
}
// secondary-radio

// footer
.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 24px 0;
  background: #fafafa;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 40px 72px 16px;
  }

  &__body {
    width: 100%;
    flex: none;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 80px;
    }

    &:nth-child(1) {
      min-width: 200px;
    }

    &:nth-child(2) {
      min-width: 200px;
    }

    &:nth-child(3) {
      min-width: 270px;
    }

    &:nth-child(4) {
      min-width: 135px;
      margin-bottom: 32px;

      @media screen and (min-width: 1299px) {
        min-width: 200px;
      }
    }

    &:nth-child(5) {
      width: 100%;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (min-width: 576px) {
        justify-content: flex-start;
      }

      @media screen and (min-width: 1299px) {
        min-width: 208px;
        max-width: 232px;
        flex-direction: column;
      }

      & a.footer__link_main {
        display: none;

        @media screen and (min-width: 1299px) {
          display: block;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 24px;
    color: #2f2f34;
    margin-bottom: 16px;

    &_main {
      font-weight: bold;
      font-size: 14px;

      @media screen and (min-width: 1024px) {
        font-size: 18px;
      }
    }

    &_minor {
      font-size: 14px;

      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }
    }

    &_hidden {
      display: none;

      @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
        display: block;
      }
    }

    &_main-hidden {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &_main-visible {
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    &_low {
      color: #acadb1;
      font-size: 11px;

      @media screen and (min-width: 1024px) {
        font-size: 14px;
      }
    }
  }

  &__visible {
    width: 155px;
    order: 2;

    & li:nth-child(1) a {
      margin-bottom: 0;

      @media screen and (min-width: 1299px) {
        margin-bottom: 16px;
      }
    }

    @media screen and (min-width: 576px) {
      min-width: 232px;
    }

    @media screen and (min-width: 1299px) {
      min-width: 232px;
      order: 0;
    }
  }

  &__hidden {
    display: none;

    @media screen and (min-width: 1299px) {
      display: block;
      order: 1;
    }
  }

  &__order {
    order: 1;

    @media screen and (min-width: 1299px) {
      order: 3;
    }
  }

  &__social-groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96px;
    height: 24px;

    @media screen and (min-width: 375px) {
      justify-content: space-between;
      width: 147.5px;
    }

    @media screen and (min-width: 576px) {
      min-width: 222px;
      margin-right: 63px;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;

    @media screen and (min-width: 375px) {
      width: 24px;
      height: 24px;
    }
  }
}
// footer
